[2015-04-07 16:23] Furgas opened #3 "Consistent minimal year"
In Yasumi:create() minimal year is sometimes 0 (InvalidArgumentException), and sometimes 1000 (parameter phpdoc and actual if statement). It should be consistent.

[2015-04-07 21:19] stelgenhof commented on #3
Thanks! I missed that one. I have fixed the exception description.

[2015-04-07 21:19] #3 closed

[2015-04-08 06:57] Furgas opened #5 "Common translation"
I'm adding Polish provider, and I think that it would be nice to have some global translation table in form of shortName => [locale => transaltion, locale => translation, ...] that will be used if no translation is provided in Holiday constructor.
What do you think?

[2015-04-08 07:20] stelgenhof commented on #5
Absolutely! Since Yasumi is in it's early stage, I decided first to put in the constructor. However that's not really flexible :). Let me think about how to do the translations.

[2015-04-09 22:15] stelgenhof commented on #5
@Furgas I have been looking into the translation and there are some considerations here. First of all, since holidays are loaded dynamically, it would mean translations have to be reloaded if a new holiday (with its translations) is added. That might not benefit performance, also because currently you can add holidays at runtime. One way to avoid that is to disable the adding of holidays runtime (

[2015-04-12 05:20] stelgenhof opened #8 "Common Holidays"
Currently each holiday provider defines all of its holidays. However, many countries celebrate the same holidays (e.g. New Years Day, Christmas, etc.). To ensure calculation logic is only provided in a single place, create common drivers for Holiday providers to re-use.

[2015-04-12 22:09] #8 closed

[2015-04-14 09:33] #5 closed

[2016-04-06 08:00] badams opened #11 "Norway tests failing"
Some tests for the Norway provider are failing on my local machine, I've tracked it down to the timezone being set inconsistently between `Yasumi\Provider\Norway` and `Yasumi\Tests\Norway\NorwayBaseTestCase`

Output from PHPUnit:
[code]

[2016-04-06 11:49] stelgenhof commented on #11
Merged PR #12 solving this issue.

[2016-04-06 11:49] #11 closed

[2016-04-06 11:49] stelgenhof commented on #11
Merged PR #12 solving this issue.

[2016-04-06 15:08] dorianneto opened #14 "Implement the brazilian holidays"
I liked a lot this repository and i tought of using in a project, but not have support the brazilian holidays (i'm from brazil :P).

I'm working to submit a PR with that implementation.

[2016-04-07 05:03] stelgenhof commented on #14
Thank you very much! I will look forward to your PR

[2016-04-07 23:13] badams opened #15 "php-cs-fixer issue"
Running `php-cs-fixer fix . --level=psr2` generates a massive list of changes, and breaks unit tests (it changes the namespaces for tests from ` Yasumi\Tests\NewZealand` to  `Yasumi\tests\NewZealand`)

Are there some specific settings to use when running php-cs-fixer?

[2016-04-08 01:17] stelgenhof commented on #15
Oh really? I have never seen this on my own machine (using PHPStorm with php-cs-fixer integration). I just tried on a separate environment and noticed the same. Let me investigate what the difference is.

[2016-04-08 01:27] badams commented on #15
The difference isn't too bad, if you just run `php-cs-fixer fix src/ --level=psr2` it's mainly spacing/new line fixes along with a few function definitions that don't specify visibility.

if you run it on the tests directory also (as I did originally) it will update the namespaces on all the tests.. I think all you need to fix that issue is update following in composer.json (I've not tested this)

[2016-04-08 01:31] stelgenhof commented on #15
Yeah, I noticed that mostly it is comments and formatting. Oops! Not following PSR-2 as I stated :)
Let me check the "tests" change in composer.json

[2016-04-08 01:37] badams commented on #15
Yes, and oddly enough it doesn't do the same for other namespaces eg. `Yasumi\Provider\NewZealand`

[2016-04-08 01:51] stelgenhof commented on #15
I changed composer to

[code]

and HolidaysFilterTest.php also, and now phpunit runs without error.

Hmm... still wondering why this directory name was changed.

[2016-04-08 02:43] badams commented on #15
I guess if it doesn't hurt BC its not a bad thing to be more compliant - I trust php-cs-fixer knows what it's doing :)

[2016-04-08 02:47] stelgenhof commented on #15
Actually I did some tests, and I get the feeling it applies fixes that are not only PSR2 :(. For example it removes the '@package....' line from the comments and I checked that is part of the 'Symfony' level.

Looks like the option --level=psr2 doesn't mean exclusively PSR2.

For good measure I checked another package (Dingo API) and their composer.json contents for the unit tests is the same as m

[2016-04-08 03:16] badams commented on #15
Ah, I see.. that makes sense.

Just looking at the [docs for php-cs-fixer](https://github.com/FriendsOfPHP/PHP-CS-Fixer/blob/1.11/README.rst) you can manually specify which fixers you want to include/exclude, using fixers flag eg `php-cs-fixer fix . --level=psr2 --fixers="-symfony"` but that still gets rid of @package notations

Even better you can define a `.php_cs` config file in the root of the

[2016-04-08 03:33] stelgenhof commented on #15
Ah yes. Then maybe it's better to create such a custom config file everybody can use. This will avoid any confusion as well :) Thanks for checking!

[2016-04-08 03:34] badams commented on #15
Looks good so far, I've just had to modify the config from Dingo slightly. Do you want me to create a PR?

[2016-04-08 03:34] stelgenhof commented on #15
Sure! Let me check it out later

[2016-04-08 12:55] #15 closed

[2016-04-08 12:55] stelgenhof commented on #15
Issue resolved with PR #16

[2016-04-11 09:49] R2c opened #17 "[France] Wrong OfficialHolidays"
I have some troubles with France official holidays
The GoodFriday (25-03-2016) and  stStephensDay (26-12-2016) aren't official holidays
It's true for "Alsace-Moselle" but not for all France

Nice idea this lib :+1:

[2016-04-11 10:37] stelgenhof commented on #17
Thanks for the feedback. Let me have a look. It has been a while when France was added :)

[2016-04-11 10:43] stelgenhof commented on #17
Just checked and you are right. In case a country has regional holidays I implement separate regional holiday providers. Since that takes a bit more time, I will remove these two holidays then from France. Later will add a separate holiday provider for Alsace and Moselle.

[2016-04-11 11:11] stelgenhof commented on #17
@R2c Looking on the page https://fr.wikipedia.org/wiki/F%C3%AAtes_et_jours_f%C3%A9ri%C3%A9s_en_France#Tableau_r.C3.A9capitulatif I don't see Alsace, but do see Moselle mentioned. In France are some holidays observed by département or rather region?

[2016-04-11 11:51] R2c commented on #17
**In France are some holidays observed by département or rather region?**
No, but we have just one expection for 3 départements "Moselle, du Bas-Rhin, du Haut-Rhin".
Bas-Rhin, du Haut-Rhin == Alsace

**"I will remove these two holidays then from France. Later will add a separate holiday provider for Alsace and Moselle."**
:+1: :+1:

[2016-04-11 12:21] stelgenhof commented on #17
Thanks! Let me then add separate holiday providers by département (similar to the Spain implementation).

[2016-04-11 13:49] #17 closed

[2016-04-11 13:49] stelgenhof commented on #17
Fixed issue for France as Good Friday and St. Stephens Day were defined as official holidays. These aren't national holidays and are only observed in the French departments Moselle, Bas-Rhin and Haut-Rhin. With this fix, these holidays have been removed from the France Holiday providers and new providers for the departments Moselle, Bas-Rhin and Haut-Rhin are added.

[2016-05-03 07:15] agungsijawir opened #24 "Implement Indonesian public holidays"
Hi,

I am from reddit/r/php whom ask you how can i contribute in Indonesian public Holidays.

In Indonesian, there are several public holidays based on Hijri calendar, Hindus calendar, etc. Based on that, is there a way to perform calculation Hijri calendar, Hindus calendar, etc?

Or should I add "common" public holidays only?

[2016-05-03 12:13] stelgenhof commented on #24
Hi @agungsijawir Let me have a look what type of holidays these are. Generally speaking, the common holiday class is designed for global common holidays like New Years Day for example (Non-religious holidays). Anything outside that should either be in the provider class itself or a (new) class. A separate class should only be made if the holidays defined in there are applicable to other countries/

[2016-05-04 09:03] zhikiri opened #27 "Some stats methods in AbstractProvider"
Hi
I want to propose some additional methods for the AbstractProvider class.
Can be useful to have something like: `countWorkHours()` and `countHolidayHours() `.

I can make it, just want to know, what do you think about it ?

[2016-05-04 10:08] stelgenhof commented on #27
Hi @zhikiri
That sounds a good idea, although I don't yet understand how to use that. Could you give a real life example what these methods would provide? Also keep in mind this library is primarily intended for days (not specific hours).

[2016-05-04 12:04] zhikiri commented on #27
Hi @stelgenhof
Yes, no problem, I'll give some example.
On some site I want to display some stats about people lazy :) and I want to group this data by country.
If I can use `yasumi` for get this information and it will be perfect.
About last sentence, I understood your point ;)

[2016-05-04 12:30] stelgenhof commented on #27
I see what you are looking for. I am not sure Yasumi is the right library for your purpose. My first question is how do you define the work hours? This can be different per country/company/... What you can use Yasumi for is the determine the holidays. Then again you need to make some kind of assumption what the actual hours are. As said tracking hours is unfortunately not the main purpose of Yasum

[2016-05-04 12:33] stelgenhof opened #28 "YasumiTest:textNext uses an out of bounds year"
Running phpunit can result in an error in the test class `Yasumi\tests\Base\YasumiTest::testNext` in the rare situation that the year 10000 is applied. Yasumi only supports year numbers between 1000 and 9999.
PHPUnit Output:

[code]

[2016-05-04 12:50] zhikiri commented on #27
Ou, ok.
Thanks for you time.

[2016-05-04 12:50] #27 closed

[2016-05-04 15:36] #28 closed

[2016-05-07 13:00] stelgenhof commented on #24
Hi @agungsijawir
Sorry for the late reply. I had a look at those calendars and I think it's not too difficult. Basically Yasumi represents all holidays according to the Gregorian calendar, so if any holidays based on Hijri, Hindus, etc. can be converted to Gregorian dates, then it is perfectly fine.

I recommend these not to add to the common public holidays, but better to create a separate base/c

[2016-05-23 09:43] stelgenhof commented on #14
Merged in master branch.

[2016-05-23 09:43] #14 closed

[2016-06-05 12:30] Dimasdanz commented on #24
I'm interested on contributing Indonesian Holidays too.
For starts, I'd like to add IslamicHolidays trait since Indonesia have it.
I don't see yasumi has test for ChristianHolidays trait, should I just add IslamicHolidays trait without test?

[2016-06-05 19:45] evert opened #33 "Have you considered using iCalendar"
This could be useful for a number of projects I'm working on. I'm the author of [sabre/vobject](http://sabre.io/vobject/) and I generally use the mozilla feeds for this:

https://www.mozilla.org/en-US/projects/calendar/holidays/

[2016-06-06 11:09] stelgenhof commented on #33
Do you mean using the mozilla feeds instead of this library? Or using the feeds as a source of input for extending Yasumi?

[2016-06-06 15:32] evert commented on #33
You could indeed use the source for input, which might make it a bit easier for you to maintain all the data. But my main point was actually the opposite... could you generate iCalendar feeds based on the your source data?

[2016-06-07 04:18] stelgenhof commented on #33
That's a nice idea! Definitely possible...

[2016-06-07 14:01] stelgenhof commented on #24
Hi @Dimasdanz
There are indeed no specific unit tests for the Christian Holidays. Each Holiday Provider should implement its own holiday tests, mainly that even some Christian Holidays occur on the same date, in some countries it can be different.

As for Indonesia, the challenge is that Yasumi is based on calendars that have arithmetic bases, like the Gregorian calendar. This is the base calendar

[2016-06-08 14:36] stelgenhof commented on #33
Here is an example of all the official Dutch holidays for 2016 (In Dutch), generated using Yasumi:

[code]

[2016-06-08 16:12] evert commented on #33
That's a nice start! A few suggestions:

1. Make sure these are marked as all-day events. In practice this means you can drop `DTEND` and specify `DTSTART`:

    DTSTART;VALUE=DATE:20160505

Another thing that would be really great is to actually encode the rules in the events. Christmas is easy, because it's on the same date very year:

    RRULE:FREQ=YEARLY

Easter and related holidays very hard

[2016-06-08 21:41] stelgenhof commented on #33
Here is the quick example with all holidays set as all-day events:

[code]

As for the rules, yes it depends on the holiday and in Yasumi I don't specify any rule specifically. That would make it a bit more challenging to implement, but possible.
For irregular holidays, RRULE can work. I am just wondering if we have a large year range if a large list of dates is possible. (Sorry haven't checked th

[2016-09-15 12:26] johlton opened #37 "Localized names"
Using this great library in Laravel 5.3 i cannot get the localized names to work (in my case German).

Calling:
`$holidays = Yasumi::create('Germany', Carbon::now()->year, 'de_DE');`

[code]

Result:
[code]

The locale is set correctly. I'm surely missing something obvious here but can you point me to the right direction?

Thanks!

[2016-09-15 12:36] stelgenhof commented on #37
Thanks! I don't have a L5.3 environment at hand, so let me test this tomorrow. I actually haven't tested this with any particular framework, however should indeed work.

[2016-09-15 13:36] stelgenhof commented on #37
Hi @johlton

Just checked and the function getHolidayNames() only returns the short names of the holidays. If you use the function getHolidays() you can get the localized names, like this:

[code]

Result:

[code]

I admit the function name getHolidayNames() is a bit misleading :). The advantage of the getHolidays() function is that it returns a collection of Holiday objects, so you also can acces

[2016-09-15 14:41] johlton commented on #37
Thank you so much, it works like a charm. Keep up the great work! :)

[2016-09-15 14:41] #37 closed

[2016-09-20 23:03] brucealdridge commented on #33
I think this would be a good point of call for testing. Both for current data and alerting to new changed holiday dates in future.

Australia\Victoria - http://www.vic.gov.au/themes/v6/images/VictoriaCalendar-PublicHolidays.ics
NewZealand - https://www.employment.govt.nz/leave-and-holidays/public-holidays/public-holidays-and-anniversary-dates/icalendar-feeds/

I'm sure other countries/regions have

[2016-09-27 08:58] stelgenhof commented on #33
The main goal of this library is to provide the national holidays of various countries. An export feature was not on my mind when I started this. However it could be added in the future.

Perhaps if we add the example I made as part of the documentation / examples, people can see how the library can be used.

[2016-09-28 08:40] splitice opened #42 "China"
Probably the most populous missing country. And one of the most disruptive public holidays for shipping (Chinese New Years)

I personally have no need for it at this stage, just thought it perhaps belongs on the TODO list.

[2016-09-28 11:10] stelgenhof commented on #42
Yes, I know. I was working on the holidays for Taiwan (similar to the Chinese ones). The library is based on arithmetic calendars. However some countries/cultures apply calendars that are not arithmetic. There do have some kind of algorithm but very complex.

So definitely something I'd like to have but will take a while before figuring that one out. I'll add it to the TODO list :)

[2016-10-20 10:34] tplantta opened #43 "Incorrect All Saints' Day in Finland provider"
Correct date is Saturday between 31 Oct and 6 Nov, since 1955 or 1956, the two references below seem to disagree about the exact year. Before that 1st Sunday of November since 1774.

http://www.timeanddate.com/holidays/finland/all-saints
https://fi.wikipedia.org/wiki/Pyh%C3%A4inp%C3%A4iv%C3%A4

[2016-10-22 07:59] stelgenhof commented on #43
Thanks for letting me know. I'll have a look at this.

Cheers! Sacha

[2016-10-27 10:32] tplantta commented on #43
Yes, it is not 1st of November in Finland. The English wikipedia article you linked doesn't explicitly mention Finland in that context, but what is said about most Lutheran churches in general is more or less true in Finland. Currently correct date is Saturday between 31st Oct and 6th Nov, same as in Sweden. Earlier it was on 1st Sunday of November. The two references I linked in the initial repor

[2016-10-29 00:00] stelgenhof commented on #43
Thanks! I wasn't aware of that; having learned something new again :). I believe we can then correct this by implementing in the same manner as done for Sweden.

[2016-11-01 00:51] stelgenhof commented on #43
@tplantta I have resolved the issue. You can pull the dev branch to check if it is working now :)

[2016-11-10 08:14] stelgenhof commented on #43
Assuming it is working now :) If not, please create a new issue or reopen this one.

[2016-11-10 08:14] #43 closed

[2016-12-15 16:18] joshuabaker opened #48 "Incorrect Christmas day for United Kingdom"
Christmas day is always on 25 December in the United Kingdom. A substitute bank holiday is created for both Christmas and Boxing Day when either of those days fall on a weekend.

Cited from the [GOV.UK bank holidays](https://www.gov.uk/bank-holidays) page.

The logic appears to be slightly wrong in the `UnitedKingdom` provider. There actually needs to be (up to) 4 days representing Christmas and B

[2016-12-15 16:36] joshuabaker commented on #48
**Potential Solution**

I’m not sure exactly how holiday labelling works (i.e. `secondChristmasDay`). Is there any issue calling it `boxingDay` and introducing `substituteChristmasDay` and `substituteBoxingDay`?

[code]

[2016-12-15 16:43] joshuabaker commented on #48
This might apply to logic used in other methods.

[2016-12-15 23:59] stelgenhof commented on #48
Hi @joshuabaker
Thanks for catching this one! Indeed this seems to be incorrect. The idea is that if any given holiday is being substituted/observed on a different date, the provider class should add another holiday date. The UK provider class doesn't indeed do that.

As for your question regarding the labels: there is no specific rule for the name, these are just internal ID's. Just to keep them

[2016-12-26 20:04] samag opened #49 "Consider the use of "instanceof" instead of "get_class""
Looking at

    // If given date is a DateTime object; check if it falls in the weekend
    if (get_class($date) === 'DateTime') {
        if (in_array($date->format('w'), $this->weekend_days)) {
            return false;
        }
    }

the condition fails for any subclasses of `DateTime` (like the very popular **Carbon** class) which needlessly limits your APIs scope. Please consider the `insta

[2016-12-29 04:14] stelgenhof commented on #49
It does seem indeed a better way to verify the class with the `instanceof` operator. Thanks for the suggestion!

[2016-12-29 05:32] stelgenhof commented on #49
Resolved.

[2016-12-29 05:32] #49 closed

[2017-02-07 01:12] #48 closed

[2017-02-07 01:13] stelgenhof commented on #48
@joshuabaker I have been kindly taken your solution (with some adaptions) into the main branch. Issue should be resolved now. I will today release 1.6.1 that includes this one as well :)

[2017-03-09 13:51] AronNovak opened #58 "Provider for Israel"
Potentially based on https://github.com/mooffie/holidays
See also:
https://en.wikipedia.org/wiki/Public_holidays_in_Israel

[2017-03-09 13:51] AronNovak opened #59 "Provider for Canada"
Reference:
https://en.wikipedia.org/wiki/Public_holidays_in_Canada

[2017-03-10 15:58] AronNovak commented on #58
As implementing the logic for this provider would totally differ from all we have, due to a totally separate date system in use, would it be acceptable to ember https://github.com/mooffie/holidays via composer, where this problem is already solved?

[2017-03-11 06:54] stelgenhof commented on #58
Thanks for creating this issue. I am not familiar with the Jewish Calendar system, however Yasumi's base calendar system is Gregorian. From what I can see, it should be possible to map the Jewish holidays to the Gregorian system.

No sure what you mean by 'embed', but that library seems quite old. I prefer not to have any dependencies in this library as the goal is that Yasumi provides all the cal

[2017-05-31 09:35] huehnerhose opened #61 "add yasumi creation by ISO3166-2 code"
I want to get holidays based on dynamically gathered region informations. The ISO3166-2 codes I can get out of various map-api.
As far as I can see the `const ID` inside the providers corresponce to ISO3166-2 and is used as index for the `getProviders()` return array.

Therefore I made a simple [wrapper](https://github.com/InSitu-Software/yasumi/commit/472aba9c7c958ab1bccd0083a5fba4133be1e813). Th

[2017-05-31 15:20] stelgenhof commented on #61
Very nice! Some others have asked a similar feature as currently you need to know the exact name of the Holiday provider. Would you be able to create a PR?

[2017-06-09 01:13] stelgenhof commented on #61
Closing issue. Resolved by PR #62

[2017-06-09 01:13] #61 closed

[2017-08-15 12:43] scrobbleme opened #63 "Repentance Day should be official in Germany/Saxony"
Repentance Day  is an official holidy in Germany/Saxony, but listet as "Others" within Yasumi

http://www.officeholidays.com/countries/germany/regional.php?list_year=2017&region_code=SN

[2017-08-15 23:51] stelgenhof commented on #63
Yes, the type "Others" is indeed not quite right for official regional holidays. The reason for choosing "Other" was probably because the other types didn't fit the classification.

Actually, the main classification "National" (within Yasumi) is then not appropriate in this regards. I think changing that name to "Official" might be a better wording. However that would require a change to all holid

[2017-09-11 12:48] serverfire opened #64 "Bank holidays in United Kingdom"
Your package return this holidays for united kingdom:
array:7 [▼
  "newYearsDay" => "2017-01-02"
  "goodFriday" => "2017-04-14"
  "easterMonday" => "2017-04-17"
  "mayDayBankHoliday" => "2017-05-01"
  "springBankHoliday" => "2017-05-29"
  "christmasDay" => "2017-12-25"
  "secondChristmasDay" => "2017-12-26"
]
but refer to https://www.gov.uk/bank-holidays holidays must be 8 days for 2017!

[2017-09-11 13:17] stelgenhof commented on #64
Thanks for catching this. Indeed it seems that the Summer Bank Holiday is missing.

[2017-09-11 14:22] stelgenhof commented on #64
@serverfire Added the missing Summer Bank Holiday. Would you mind checking again using the latest commit? Thanks!

[2017-09-12 08:13] stelgenhof commented on #63
Created branch 'official' where the name change from NATIONAL to OFFICIAL is done.

[2017-09-18 11:06] juergenweb opened #66 "Wrong translation for Eastern in Austria"
Hello,
on line 18 of  yasumi/src/Yasumi/data/translations/easter.php the translation for Eastern in the Austrian language is:

[code]
but the correct translation in the Austrian language has to be

[code]

In Austria we call it "Easter sunday" (=Ostersonntag).

Best regards Jürgen

[2017-09-18 12:08] stelgenhof commented on #66
Thank you for the correction. Let me alter this as soon as possible.

[2017-09-18 12:12] #64 closed

[2017-09-18 12:21] stelgenhof commented on #66
Changed.

[2017-09-18 12:21] #66 closed

[2017-10-13 08:10] stelgenhof commented on #63
Issue has been resolved in the master branch. Will be included in the upcoming v1.7.0 release.

[2017-10-13 08:10] #63 closed

[2017-10-16 14:31] patrickreck opened #69 "Timezone is overridden in initialize method"
The timezone is overridden in the `initialize` method in most providers, making it very annoying to extend. Is this intentional?

[code]

I propose setting it as a class property in each provider outside the scope of `initialize`.

[2017-10-17 00:22] stelgenhof commented on #69
Setting the timezone in the initialize method is intentional in the sense that I thought it would be a good place to put. I think a class property would be equally good in my opinion.

Would you mind sharing in what situation you like to extend the timezone? (Just curious as I can't think of such a scenario :) ). Happy to change this if it better fits your needs.

[2017-10-17 07:17] patrickreck commented on #69
I can only see it being an unnecessary limitation.

In Denmark we have some holidays that only some companies use, this being First of May and our Constitution Day. These are not present in the Denmark provider, and I guess that's ok because it's not really everyone who uses them.

I would guess that I am not the only one who for some reason would like to extend one of the existing providers :-)

[2017-10-26 11:45] stelgenhof commented on #69
Thank you for the feedback. Understand that you'd like to extend the HolidayProvider class to add less common holidays. If these additional holidays are in the same timezone, how does the timezone initialization being a limitation?

I agree that perhaps a class constant or property maybe better; just trying to understand your issue :)

[2017-11-02 09:08] huehnerhose opened #75 "create $year should by typed"
I ran into the problem, that I call `create` (or `createByISO3166_2` in my case) like this:

    $holidays = Yasumi\Yasumi::createByISO3166_2(
				$region,
				$date->format("Y"),
				"de_DE"
			);

Since `$date->format("Y") ` gives me a string the later comparisons inside Yasumi failed

    if ($year === 2017)

I see three ways solvings this:
1) TypeHinting. My prefered solution
2) Casting / Vali

[2017-11-02 23:10] stelgenhof commented on #75
Thank you for catching this. Looking at the three possibilities, I am also in favor of type hinting.

[2017-11-08 22:04] creuzerm opened #77 "Between Filter should have a ->count that is correct"
I think the between filter should output the correct count of dates as found by the filter. (Likely desired behavior for all filters, I haven't used any of the others yet)

[code]

I would expect this value to be 3 based on the holiday dates calculated.

[2017-11-08 23:15] stelgenhof commented on #77
Do you mean the between filter currently doesn't return the correct number of holidays?

[2017-11-09 14:47] creuzerm commented on #77
Correct. The between filter doesn't return the correct number of holidays. In the example I gave above, it is returning 11 when I expect 3.

[2017-11-09 14:50] stelgenhof commented on #77
Oh, that's not good. Let me check that.

[2017-11-09 15:36] stelgenhof commented on #77
The between Filter is based on the FilterIterator class and returns an Iterator Object. The ->count() function doesn't get propagated to the an Iterator class (See also this bug report: https://bugs.php.net/bug.php?id=70113).

If you use the iterator_count function it will return the actual (filtered) number of holidays, like this:

echo iterator_count($holidays_Today): // 3

[2017-11-10 13:13] stelgenhof commented on #77
Following up on my previous comment: I've made a quick test implementing the Countable Interface and looks like it's working if you're using the count() function. I just need to created some unit tests and apply to the other filters as well.

[2017-11-10 15:16] creuzerm commented on #77
Thank you. Would adding an example of this to the filter cookbook page make sense? It would be helpful for people like me that are only fair coders and dont know what to expect from the iterator class.

[2017-11-12 15:40] stelgenhof commented on #77
I have implemented the Countable interface allowing you to use the ->count() method. For the moment I have only done it for the BetweenFilter (in the master branch). The other filters will be updated soon and also the documentation :)

Please have a look and let me know how it goes :)

[2017-11-17 15:54] huehnerhose opened #78 "Between filter wants me to work at new year"
# Problem
    $filtered = $yasumi->between(
        new DateTime(($year).'-01-01'),
        new DateTime(($year + 1).'-01-01')
    );

Returns the 2017-01-01 as holiday only if the `DateTime` Timezone is the same as the local timezone, not if I use an DateTime with UTC.

# Background
Internally I use a wrapped DateTime class fixed to UTC with Hours:minutes to 0 to identify a single day. My local t

[2017-11-22 12:55] LNCH opened #79 "United Kingdom doesn't return the summer bank holiday"
I'm looking into integrating this package with our businesses annual leave calendar, however for the UK it's missing the summer bank holiday

In the UK this holiday falls on the last Monday of August, and in Scotland it falls on the first Monday of the month

[2017-11-22 13:32] LNCH commented on #79
After forking the repo I can see that the master branch has the summer bank holiday included in the UK's holidays, however it's not included in the most recent packagist release. So when I install the package through composer, I'm mising the summer bank holidays

[2017-11-22 13:50] stelgenhof commented on #78
Thank you very much for submitting this issue. As I understand the issue, I am not sure I follow why you want to use a UTC date time object using the BetweenFilter.

Could you perhaps provide some use case so I understand it better?

[2017-11-22 13:53] stelgenhof commented on #79
Yes, that's normal :) I haven't yet officially released recent changes, fixes, etc. in a new release. You are more than welcome to use the master branch in your project. In your Composer file, you can specify to use the master branch in stead of the latest official release.

[2017-12-11 05:03] stelgenhof commented on #79
Closing this issue as it has been addressed already in the master branch and will be included in the upcoming v1.7.0 release.

[2017-12-11 05:03] #79 closed

[2017-12-11 05:04] stelgenhof commented on #77
All filters have now the Countable interface implemented. Available in the master branch and soon also in the upcoming v1.7.0 release.

[2017-12-11 05:04] #77 closed

[2017-12-19 11:00] jvalecillos commented on #78
I bumped with this error as well and I can confirm. This is how you can reproduce:

[code]

I think that the error is more general than just the new year's day. In my snippet both time zones are equal. I think is more in how PHP is interpreting the comparison against the custom class `Yasumi\Holiday`.

[2017-12-19 11:17] stelgenhof commented on #78
Thanks @jvalecillos for the example. Let me see if I can replicate and test it out :)

[2017-12-19 13:19] stelgenhof commented on #78
Still not sure what the issue is you are experiencing. I am trying to reproduce it but without success. If I run the following snippet:

`
$year = 2017;
$yasumi = Yasumi\Yasumi::create('Netherlands', $year);

$filtered = $yasumi->between(
    new \DateTime($year . '-01-01'),
    new \DateTime($year . '-12-31')
);

$betweenHolidays = iterator_to_array($filtered);

foreach ($filtered as $holiday) {

[2017-12-19 15:36] alexdembo opened #82 "Substitute holidays affect count"
Is it right that when I do count on period where substitute holiday and the original holiday fall in, I get 2 holidays in count method?

[2017-12-19 23:38] stelgenhof commented on #82
Good question! I haven't really tried it myself but probably yes. Since internally the list of holidays in a provider class will maintain the original  holiday and the substitute holiday, both will be accounted for.

[2017-12-20 08:42] alexdembo commented on #82
Thank you for such fast response. It seems that currently there is no way to filter out the substituted holidays. Do you see it as a field to contribution? If so, is it an additional property, and a filter?

[2017-12-20 13:41] stelgenhof commented on #82
There is not a particular field or property for that. Only the internal name of the substituted has a prefix "substituteHoliday:". That may be used for filtering.

[2017-12-22 15:04] bkonetzny opened #83 "Spain: Easter sunday not an official holiday?"
Yasumi lists 01.04.2018 (Easter Sunday) for Spain as an official holiday. I checked several sources and can't find any reference to this.

Sources I checked:
* https://www.timeanddate.com/calendar/?year=2018&country=16
* https://publicholidays.es/2018-dates/
* http://www.noworkdays.com/spain/2018

Good friday is a national holiday and easter monday is listed as a regional holiday, which is identic

[2017-12-22 15:15] bkonetzny opened #84 "class_exists($class) fails with Yii 1.x autoloader"
We combined our Yii 1.x project with composer. Due to the nature of Yiis autoloader, checking class_exists() in Yasumi::create() will fail with an exception, as Yii doesn't know the class "Spain" (Spain.php) for example.
For us, it seems the problem would be fixed by changing `class_exists($class)` to `@class_exists($class)`.

As far as I understand, this change wouldn't cause any issues in the lo

[2017-12-27 09:09] lukosius commented on #83
Good catch. I think the holiday should be changed to the observance type.

https://es.wikipedia.org/wiki/Calendario_laboral

[2018-01-04 06:24] stelgenhof commented on #84
My apologies for the late reply. Would you mind sharing an code example how you use Yasumi with the Yii framework? It helps me better understand and can see if I can replicate the issue.

However, using the error control operator (@) is not really a fix. It only suppresses any error message that might occur. It would be better to handle the exception in your code.

[2018-01-04 08:24] stelgenhof commented on #83
My assumption here was that if Easter Monday is celebrated, then Easter Sunday must be celebrated as well (as it happens as so in other countries). Likely my assumption was wrong then :)

I checked also this resource: https://www.boe.es/boe/dias/2017/10/11/pdfs/BOE-A-2017-11639.pdf
and Easter Sunday isn't mentioned anywhere. So it does seem to be that it isn't a holiday at all.

[2018-01-04 08:35] lukosius commented on #83
I thought we can leave it as an observance type because because it ends the holy week in Spain, but I'm not sure.

https://en.wikipedia.org/wiki/Holy_Week_procession

[2018-01-04 09:04] bkonetzny commented on #84
Reproducing this is rather complex, as Yii 1.x doesn't work with composer easily out-of-the-box.
As far as I can see, Yii throws an exception if a requested class cant be loaded. Yii can find "\Yasumi\Provider\Spain" but not "Spain", so using a fully qualified class name would work in theory.

Examples:
[code]

We are trying to load holidays based on language and use the provided helper method you

[2018-01-04 09:35] stelgenhof commented on #83
According to that source, it should be an observance in selected regions only.

[2018-01-04 09:44] MatthiasKuehneEllerhold commented on #84
These are my 2 cents on this:
The problems lies in the Yii 1.x autoloader, not in yasumi. Autoloaders must not throw exception if they can't find the class: they are expected to return false. So (as you said) this autoloader seems to be broken.
Therefore I think IMHO that it should be fixed in the broken piece of code and not in a (framework-agnostic) library thats depended on a correct implementa

[2018-01-04 09:50] stelgenhof commented on #84
I think you would then looking at emulating Composer's autoloading feature. Alternatively you could create your own autoloader using the `__autoload` function (pre PHP 7.2) or the `spl_autoload_register` function.

As for your comment "We are trying to load holidays based on language", I am not sure that that is a good approach as some languages are spoken in more than one country (e.g. English, G

[2018-01-04 10:37] bkonetzny commented on #84
Both of you are correct! Thanks for the replies.
I'm experimenting with setting `Yii::$enableIncludePath = false;` which seems to fix the issue of throwing exceptions when loading unknown classes. I'll get back to you once I have confirmed this works.

[2018-01-09 11:54] hirorongl opened #89 "set weekend_days"
set weekend_days = [0];

[2018-01-09 12:07] stelgenhof commented on #89
Could you explain what issue you encountered? Unfortunately your description doesn't explain the issue, so it is difficult to assess it.

[2018-01-09 12:09] stelgenhof commented on #82
@alexdembo Just wanted to check with you if my last suggestion works for you.

[2018-01-09 12:38] hirorongl commented on #89
I want to judge that only Sunday is a holiday and I want to judge that Saturday is weekday

[2018-01-09 12:39] hirorongl commented on #89
I would like protected weekend_days to be set later when creating a sales calendar that will open only on Tuesdays and holidays as holidays

[2018-01-09 14:26] stelgenhof commented on #89
Ah, understand it better now. Indeed, that is currently not implemented well. I am thinking of adding a feature where Yasumi already includes the settings for weekends for each country.

[2018-01-10 03:38] hirorongl commented on #89
That's good. In that case please implement so that it can be changed later by set. I am looking forward to the implementation

[2018-01-10 08:49] alxdembo commented on #82
Unfortunately, no. Here is why:
If you are trying to count holidays in a particular time span, you can not tell if the time span includes a holiday, that is substituted.

I will definitely come back to this thread with a solution if there wouldn't be one by that time.

Thanks for the support and great project, I really appreciate it.

[2018-01-10 09:04] stelgenhof commented on #82
Thanks for the update! I understand your situation better now. For the moment I think the best solution is to correct the code to filter out the duplicate count. Don't think it will be that hard. :)

[2018-01-18 03:59] stelgenhof commented on #84
@bkonetzny Could you tell if you were able to get it to work with Yii? If so, I'd like to close this issue as to my view nothing is wrong with the Yasumi library :)

[2018-01-18 14:52] stelgenhof commented on #82
@alxdembo I've made enhancements so that substitute holidays are only counted once. These changes are not yet part of a release, but you can give it a try using the master branch.

[2018-01-18 16:25] alxdembo commented on #82
Thank you so much, Sacha! That's perfect. I'll test that asap.

[2018-01-21 09:22] stelgenhof commented on #89
I've made changes to the weekend definitions that will now include also countries that have weekends that differ from the common global standard (Saturday + Sunday).

After re-reading your request, I'm not sure whether overriding the weekend variable is the correct path. The current weekend definition is what each country officially considers to be the weekend.

I believe your request is a bit dif

[2018-01-22 08:16] bkonetzny commented on #84
@stelgenhof Ah, sorry, yes - this seems to work. So I'd say this issue and PR can be closed. Sorry for the hassle.

[2018-01-22 08:16] #84 closed

[2018-01-22 08:19] bkonetzny commented on #83
@stelgenhof Which source of the links above are you referring to? If thats an spanish source, can you point me to a english variant so I can fix the PR?

[2018-01-22 09:47] bkonetzny commented on #84
For reference: This is the Yii documentation about 3rd party loaders, setting $endableIncludePath to false like described there fixes the issue: http://www.yiiframework.com/doc/guide/1.1/en/extension.integration#using-3rd-party-autoloaders

[2018-01-22 11:01] stelgenhof commented on #84
@bkonetzny Thanks for the update! Happy to hear it works now.

[2018-01-22 11:58] stelgenhof commented on #83
@bkonetzny I was referring to the PDF in my above comment. However, after reading it a bit more thoroughly, my assumption that it was only observed in selected regions was wrong. Easter Sunday is not an 'official' holiday as such in all of Spain and setting this a 'observance' makes sense (also it falls on a Sunday anyway).

Don't need to fix your PR. I'll have another look and merge it (if it is

[2018-01-22 12:04] #83 closed

[2018-01-24 05:48] hirorongl commented on #89
It was definitely a request away from the definition of an official holiday.

The request is close to the regular holiday (Teikyuubi) mentioned in Japan.

It would be helpful if you let me know a sample of how to create a Holiday Provider that corresponds to a regular holiday (Teikyuubi) in Cookbook or Document

[2018-01-24 06:38] stelgenhof commented on #89
Sure! I think I will create a recipe for this in the Cookbook. There was somebody else last year with similar question, so a recipe would make sense :)

[2018-01-26 17:59] glauberm opened #90 "Brazilian Carnival"
I believe there is an error in the calculation for the Brazilian Carnival holiday days.

Since #36  is subtracting 51 days from Easter Day, but, although the celebrations start 51 days before Easter, the holiday itself is officially in the Tuesday 47 days before Easter.

The Ash Wednesday comes right after that and is also not included.

I couldn't find a lot of good sources for this in English, b

[2018-01-28 01:30] stelgenhof commented on #90
Thank you very much for spotting this.

The holidays in Yasumi should be 'official', meaning endorsed or recognized by the local government. Just to understand, do you think that the changes made in #36 shouldn't have been done?

If the Monday before Carnival is related to the Carnival holiday, then yes you can include it in the PR.

Thanks again for your help!

[2018-01-29 15:23] daffoxdev commented on #82
As I seed only some countries using "substituteHoliday:" prefix. So may would be better to add some property to Holiday object and reference to substituted object? It will be very helpful when you filter.

I have made on application side the wrapper that can calculate holidays between dates.
For example we want all holidays between 18/02/2018 - 21/07/2020 - as you can see here is two years.
Abstra

[2018-01-29 23:21] stelgenhof commented on #82
Thanks @daffoxdev! I agree that using the 'substitute' prefix isn't the best idea :) The idea of a property/indicator that the holiday is substituted is definitely a better one.

Also I like your idea of making a reference to the substituted holiday. Need to check how much that will impact the library.

Cheers! Sacha

[2018-01-30 11:28] daffoxdev opened #91 "Veterans Day in USA subtitution"
Hi.
Looks like Veterans Day(11 november) in USA in 2018 will be substituted by 12 november (monday), but the library not showing that. I'm right?

As I see in code, there no calculations for this holiday in case of substitution.

in file `Provider/USA.php`:
[code]

Thank you.

[2018-01-30 12:15] stelgenhof commented on #91
Perhaps the substitution rules for the USA are not perfectly correct in the USA Provider. This part of the code only determines substitutions for those 3 holidays.

However, looking at this source: https://en.wikipedia.org/wiki/Federal_holidays_in_the_United_States it looks to be the other way around. New Years Day, Independence Day, Veterans Day and Christmas Day are all fixed.

I'm maybe not all

[2018-01-31 08:39] glauberm commented on #90
Yes.

[Here](https://translate.google.com.br/translate?hl=pt-BR&sl=pt&tl=en&u=http%3A%2F%2Fwww.planejamento.gov.br%2Fnoticias%2Fportaria-estabelece-feriados-nacionais-e-pontos-facultativos-em-2018) you can see a list of national holidays in our Ministry of Planning website. It doesn't get any more official than that.

Expect my PR in a couple of days.

[2018-01-31 11:57] stelgenhof commented on #90
Thanks for the update! Looking forward to your PR :)

[2018-02-19 23:49] glauberm commented on #90
#92 Where is Scrutinizer config file?

[2018-02-19 23:56] stelgenhof commented on #90
@glauberm Oops! My bad, I forgot to add one. I will do that right away.

[2018-02-20 00:44] glauberm commented on #90
#92 Scrutinizer check is being canceled with error `Code coverage data is not yet available`. I'm not familiar with it, it's something that is fixed automatically or should I make another push tomorrow?

[2018-02-20 00:53] stelgenhof commented on #90
Should be fine now. I accidentally included an option for external code coverage check. It's disabled. Can you give it another try? Thanks!

[2018-02-20 01:04] glauberm commented on #90
#92 All checks have passed. :100:

[2018-02-21 14:27] TheAdnan opened #93 "Support for Islamic Calendar"
Have you thought about adding a Trait for the Islamic Holidays?

[2018-02-21 23:31] stelgenhof commented on #93
@TheAdnan Definitely thought about but not yet investigated. I'm not familiar with Islamic holidays how these could be added in a calculated way. Do you maybe have an idea or a good resource?

Cheers! Sacha

[2018-02-22 07:07] TheAdnan commented on #93
I did a bit of research, and I found these implementation for the Islamic (Hijri) calendar:

- [https://www.phpclasses.org/package/9435-PHP-Convert-and-manipulate-Hijri-dates.html](url)

- [http://php.net/manual/en/ref.calendar.php#54234](url)

[2018-02-22 07:51] stelgenhof commented on #93
Thanks! These are great resources. I'll have a look into that. I need to understand more about the Islamic calendars first :)

[2018-03-05 21:53] c960657 opened #99 "Working days and other classification"
Working days

`AbstractProvider::isWorkingDay()` returns true for any defined holiday, including e.g. Valentines Day. This is surprising. I belive Valentines Day is a working day for everyone, even the most romantically inclined :-)

I guess all `TYPE_OFFICIAL` holidays are official non-workdays. But there are also some holidays `TYPE_OBSERVANCE` holidays that are de-facto non-workdays, at least f

[2018-03-06 01:35] stelgenhof commented on #99
Thank you very much for this! It is indeed not correct that `isWorkingDay` always returns true :(.

When I started with this library, I was already aware that the current types/categories wouldn't be sufficient or cover all situations. The current implementation is simple and would cover the majority of scenarios.

That said, I really like your proposal. Of course when introducing additional data,

[2018-03-06 21:19] c960657 commented on #78
The code in the latest comment depends on the default timezone. If PHP is configured to use a different timezone offset than Germany, it will miss holidays on either 1 January or 31 December.

The following example is more explicit. The first `between()` returns 1 result, the second 0 results.

[code]

When using `DateTime` instance to represent a whole day rather than a point in time, I think it

[2018-03-06 23:33] stelgenhof commented on #78
What could be a good use case for this? I am trying to understand in what situation one would want to retrieve holidays from one provider but with different timezone.

[2018-03-07 06:28] c960657 commented on #78
I don't think there is a specific use case, just an easier API that is more consistent with `AbstractProvider::isHoliday()`.

Right now you need to know the timezone used by a given provider. There is no public method for getting this, but even if there were, `new DateTime('2018-01-01')` is easier to type than `new DateTime('2018-01-01', new DateTimeZone($provider->getTimeZone()))`.

As long as yo

[2018-03-07 07:53] stelgenhof commented on #78
Thanks for the additional information!

In Yasumi, any `DateTime` instance should represent a date rather than point in time. To my understanding there is no such situation that there could be holidays recognized by timezone (i.e. hour/minutes) within a country.

I think we can then indeed adjust the logic in the `BetweenFilter` in the same manner as used in the `isHoliday` function.

[2018-03-07 21:35] c960657 commented on #99
This illustrates what I had in mind:
https://github.com/azuyalabs/yasumi/compare/develop...c960657:holiday-tags

I may have gone a bit overboard. On the other hand, as long as the tags are reasonably well-defined, it doesn't take a lot of work for a person with knowledge about a given country to add the relevant tags.

I have tried to think of tags for a variety of reasons, but I have probably mis

[2018-03-07 23:35] crossan007 opened #102 "Clarification on intent of USA Provider "Federal Holidays""
As mentioned in #100 - the USA provider is intended for "Federal Holidays."   Is this by design, or by happenstance?

I'd like to understand the scope/intent of the various providers and how to best leverage (and likely contribute to) this project.  Specifically with intent of using in https://github.com/ChurchCRM/CRM/pull/4098

[2018-03-08 09:58] #78 closed

[2018-10-30 10:37] Taxcamp opened #115 "Add reformation day for Lower Saxony"
Beginning this year (tomorrow actually) Reformation Day is a holiday in Lower Saxony.
I would make a pull request (similar to the one for Schleswig-Holstein #106 ) but I can't promise I will have enough free time in the near future to do so.
It would be great if this could be implemented :)

Source (German)
https://www.zeit.de/gesellschaft/zeitgeschehen/2018-06/reformationstag-niedersachsen-neuer-

[2018-10-30 14:58] stelgenhof commented on #115
Thanks for letting me know. I can implement this for you, but not sure if I can make it before tomorrow :)

Cheers! Sacha

[2018-11-01 01:08] stelgenhof commented on #115
@Taxcamp Sorry a day late, but the changes have been implemented (in the develop branch). If there is any issue, just submit a new issue.

Cheers! Sacha

[2018-11-01 01:08] #115 closed

[2018-11-09 10:39] TalonTR opened #116 "Add reformation day for Bremen (Germany)"
Along with Lower Saxony (#115), Hamburg (#108) and Schlesweig-Holstein (#106) Bremen also has Reformation Day as official Holiday since 2018.

Source: https://www.weser-kurier.de/bremen/bremen-stadt_artikel,-reformationstag-wird-feiertag-in-bremen-_arid,1741291.html

[2018-11-09 12:21] #116 closed

[2018-11-13 11:12] cruxicheiros commented on #59
Hi, I'm interested in working on this provider. I'm wondering how localisation should be approached, though, given that Canada has two official languages. Are there any already implemented providers that have this already?

[2018-11-13 11:20] stelgenhof commented on #59
Hi @cruxicheiros!

Thanks for wanting to contributing to this project!

Localization is pretty easy. For every holiday a translation is defined in a translation file. (See: https://github.com/azuyalabs/yasumi/tree/develop/src/Yasumi/data/translations). So you can just provide a translation for Canadian English and Canadian French in such a file.

If the holiday is already a known one (e.g. Christm

[2018-11-14 06:00] stelgenhof commented on #59
@cruxicheiros Good to hear you found it. Just wondering: does it mean you are going to work on the Canada Holiday Provider or only provide translations for the existing holidays?

[2018-11-14 06:03] cruxicheiros commented on #59
I mean that I will work on the actual provider. I'm going to source the
translations from government sources.

On Wed, 14 Nov 2018, 06:00 Sacha Telgenhof <notifications@github.com wrote:

[2018-11-18 08:13] mogi86 opened #118 "Better for composer.lock to be committed to git"
Currently composer.lock is not committed to git.
In that case, there is a possibility that the package version will be different depending on the user's environment.
Therefore, it is better for composer.lock to be committed to git.

[2018-11-18 08:47] stelgenhof commented on #118
For projects/applications the composer.lock file definitely should be committed to version control. However for libraries (such as this one), it is slightly different.

Since Yasumi doesn't have any package dependencies (except for the development ones), it is not needed to have the lock file committed. In addition, the required development packages have a fixed minor version (i.e. 1.7) which only

[2018-11-22 10:43] victorlap opened #120 "Documentation menu not visible on mobile"
Hey!

I just wanted to let you know that the menu on the documentation page is invisible on mobile. This makes it impossible to navigate unfortunately.

Great package btw, keep up the good work!

[2018-11-22 10:54] stelgenhof commented on #120
@victorlap Thanks for letting me know. I admit I haven't checked it for mobile use. Let me see if I can make it better :)

Cheers! Sacha

[2018-12-02 22:32] projct1 opened #121 "Translate bug"
Hello! I found strange bug! I make calendar!
Translate works only with first holiday: http://skrinshoter.ru/s/031218/qrfDahGR
In `Russia.php` provider all holidays are translated http://skrinshoter.ru/s/021218/7enYMBZO
Here is simplified code:
[code]

[2018-12-03 01:41] stelgenhof commented on #121
I've tried using your example but it is incomplete. (For example `$this->holidayService` and `$date` are not defined).

Can you maybe provide a standalone working example? That way I can better understand the issue.

Thanks! Sacha

[2018-12-03 11:00] projct1 commented on #121
@stelgenhof Yea, sry... I edited first message, all works standalone!

[2018-12-03 12:18] stelgenhof commented on #121
@projct1 Thanks! Much better :)
From what I can see, there is something wrong with the Russia Holiday Provider. Indeed only the first holiday is in the Russian language and the others not.

However if I try another country (e.g. Japan with the Japanese locale) then all holidays are translated correctly. Using your code with this change: `$service = Yasumi::create('Japan', 2020, 'ja_JP')` will rend

[2018-12-03 12:36] stelgenhof commented on #121
@projct1 Found the issue already... Except New Years day, all holidays for Russia don't have the locale parameter in place, which is needed for translation. Without that, Yasumi will use the fallback locale of 'en_US'.

I will make a fix for this.

Thanks for spotting this one!

[2018-12-03 12:54] projct1 commented on #121
@stelgenhof Thanks dude) How i can update package?

[2018-12-03 13:30] stelgenhof commented on #121
@projct1 It's not fixed yet...

[2018-12-04 00:38] stelgenhof commented on #121
Issue has been fixed in the 'develop' branch.

[2018-12-04 00:38] #121 closed

[2018-12-04 07:49] projct1 commented on #121
Ok, thanks =)

[2018-12-05 12:01] cruxicheiros commented on #59
Hi, I've started working on this and I was wondering what the preferred way to deal with this situation is.

[(source wikipedia)](https://en.wikipedia.org/wiki/Public_holidays_in_Canada#Nationwide_statutory_holidays_in_Canada)

I think that this means that they should both be `Holiday::TYPE_OFFICIAL` but I'm unsure.

[2018-12-05 13:09] stelgenhof commented on #59
@cruxicheiros Good question as it is a situation that also happens in other countries.

The best way to look at it is, to separate non-working days from national holidays. Commonly (but not always), national/official holidays mean a non-working day.

I would indeed classify both holidays as 'official': whether some employers provide either/or as a statutory holiday is more of a business domain mat

[2018-12-06 11:13] cruxicheiros commented on #59
This has been really interesting to work on so far, and I'm glad that my Canadian social studies education is (finally) coming to some use!

I've run into a few further difficulties, though, mostly to do with historical accuracy and how important it is to the provider.

So, Canada is not a very old country. In fact, it was confederated in 1867. This means that there is not a lot of history, so not

[2018-12-06 11:37] stelgenhof commented on #59
Thanks for the nice background information! What is for Canada, is the case for many other countries as well.

Being a perfectionist, I'd like this library to capture holidays accurately, however do realize that it isn't always possible or feasible. My approach when adding providers for this library is based on practicality and implementation effort.

I would first focus on the holidays that are w

[2018-12-21 11:36] cruxicheiros commented on #59
Hi,
I have been doing some work on this.
What is the preferred way to deal with holidays that are nationally observed but have different statuses in different provinces (i.e. an official holiday in some provinces but an observance in others?)

[2019-01-06 08:11] stelgenhof commented on #89
@hirorongl You can find an example on how to extend an existing HolidayProvider here: http://azuyalabs.github.io/yasumi/cookbook/custom_provider/

[2019-01-06 08:11] #89 closed

[2019-01-08 11:36] stelgenhof commented on #59
@cruxicheiros Sorry for the late reply. You can easily create default holidays nationally and then override the logic of these in the different provinces. Have a look at the Australian Holiday Provider as that is one of the most complex ones...

You can either use traits or put the common holidays in the main (Canada) class.

[2019-01-08 11:37] cruxicheiros commented on #59
No problem, thanks for letting me know.

On Tue, 8 Jan 2019, 11:36 Sacha Telgenhof <notifications@github.com wrote:

[2019-01-08 11:41] stelgenhof commented on #59
@cruxicheiros Do you have an estimate when you like to submit your PR? I am preparing a next release and would be nice to include Canada as well.

Cheers! Sacha

[2019-01-08 11:47] cruxicheiros commented on #59
So far I have only been working on it when I felt like it, but it would be
neat to have it in a release so I will see if I can have something workable
by the beginning of February. The bit which is giving me pause is writing
unit tests for all the provinces.

On Tue, 8 Jan 2019, 11:41 Sacha Telgenhof <notifications@github.com wrote:

[2019-01-08 12:02] stelgenhof commented on #59
I was actually planning to do a release this week (at the latest next week).
Let me then help you with your work. Do you have a fork/repos I can access? I can then see how much work you still have to do and if it would be feasible to include in the next release.

Cheers! Sacha

[2019-01-08 12:18] cruxicheiros commented on #59
I do have a fork, I believe it is at cruxicheiros/yasumi. However I don't
have nearly enough done to have it done for the next release. Can we make
next next release a target?

On Tue, 8 Jan 2019, 12:02 Sacha Telgenhof <notifications@github.com wrote:

[2019-01-08 13:30] stelgenhof commented on #59
Ok. No rush! :) Canada can join another release :)
Anyway, if you need any help with your work/fork, let me know.

[2019-01-10 01:30] stelgenhof commented on #120
@victorlap Improvements are coming up! I'm preparing for a new release which include fixes to the documentation as well.

[2019-01-10 09:09] victorlap commented on #120
Great!

[2019-01-11 12:31] stelgenhof commented on #120
Yasumi v2 has been released. Also the documentation site has been updated so now the menu can be opened on a mobile device as well.

[2019-01-11 12:31] #120 closed

[2019-01-11 12:31] stelgenhof commented on #75
Yasumi v2 has been released. This has been resolved now.

[2019-01-11 12:31] #75 closed

[2019-01-19 16:56] projct1 opened #127 "Add holidays"
Hio)
How i can add holiday? https://en.wikipedia.org/wiki/Valentine%27s_Day

[2019-01-20 02:16] stelgenhof commented on #127
Do you mean you would like to add Valentine's Day to your instance of Yasumi? If so, you can easily use the `valentinesDay` method in the `CommonHolidays` class (Trait).

In case you'd like to add Valentine's Day to an existing holiday provider (e.g. permanently), you can submit a PR for that.

Cheers! Sacha

[2019-02-04 08:58] stelgenhof commented on #127
@projct1 Can you let me know if my answer satisfied your question?
If so, please close this issue or provide more details please.

Cheers! Sacha

[2019-02-05 14:31] nick2687 commented on #59
How is this coming along? I would love to contribute to get this across the line in the next release if help is needed.

[2019-02-05 22:15] Milamber33 opened #131 "Enhancement request: replace $year on creation with $dateFrom and $dateTo"
Currently when creating an instance of a holiday provider, you just pass it a year value and it will find all the holidays in that year for that region. This can be very inefficient to work with as you may want only the holidays within a short time period (yes this is easy enough to filter), and/or you may want to find out holidays that occur both sides of new years, which has to be handled manual

[2019-02-06 00:35] stelgenhof commented on #131
Thanks! Yes, the API was built on the basis that most scenarios would be based around that all annual holidays of a country are needed. I agree that some situations you only are interested in a subset of these, and that's where the filters come in :)

Having to create multiple instances to retrieve holidays spanning more than 1 year, is not an elegant solution indeed. So using a date range like yo

[2019-02-07 12:07] IceShack opened #132 "Possibility to Set default timezone"
All of my dates I'm using are in UTC, if I want to compare them with the holidays I always need to change the timezone.
So I think setting a default timezone either globally `Yasumi::defaultTimezone` or during creation as an extra parameter `Yasumi::create(Germany::class, 2017, 'de_DE', 'UTC')` would be very helpful.
As long as the default timezone is not set, it uses the timezone provided by the

[2019-02-07 16:38] gRoberts84 opened #134 "Missing translations for UK Substitutes"
Is there any particular reason why there aren't any translations for UK Substitutes?

[code]

Just trying to work out how to handle them, asides from ignoring them because they won't make any sense to a user?

[2019-02-07 23:58] stelgenhof commented on #132
The reason for the timezone not being configurable is that holidays should be calculated for the timezone (i.e. country) they are taking place in. If what you are suggesting would be done, then a strange situation occurs that for example Christmas may have already started (or finished) from the perspective of the other timezone.

Although that technically is correct, semantically has little meanin

[2019-02-08 00:14] stelgenhof commented on #134
That shouldn't be the case I think. Just tested this with the USA holiday provider for the year 2016 (when Christmas Day had a substitution), and I can see the translations in the instance.

Would you perhaps share your code/script how you got these results? That would help me assist/debug this issue.

As for the substitutes: they are useful because sometimes you want to know when the original dat

[2019-02-08 07:33] IceShack commented on #132
I can't be the only one who stores dates as UTC in the database and relies on the frontend to decide which timezone the users in.
As I said before all I want is to make the timezone decision myself. As of now that is impossible, because everything happens in the `initialize` method and I can't change that value by Inheritance or even Reflection.
PS: I don't want to compare Germany New Years Eve wi

[2019-02-08 10:18] oallain opened #137 "Provider for Hong Kong"
Hello,

I would like to have Hong Kong holidays, does anyone know how to create it?
I do not know how to determine them :(
Thanks in advance.

[2019-02-08 11:18] stelgenhof commented on #132
Sure, I store my dates in UTC as well. I am not familiar with your business case, so let me show you what I do in one of my projects.

I am sending a message to users when they login and that day is a public holiday. In this example I am using Japan's Mountain which takes place on August the 11th.

[code]

The above example is a bit simplified of course and I am using the Carbon library for parsin

[2019-02-08 11:43] IceShack commented on #132
Sorry I should have added my business case earlier:
For calculating vacation days, I need to know which days are holidays in date ranges.
This is of course a simplified version of my code and should only represent an example for this case:
[code]
This would return 4 instead of the correct 3 workdays in range.

[2019-02-08 11:45] stelgenhof commented on #137
Hong Kong shares similar holidays from China. The challenge with some of the Chinese holidays is that they require some complex algorithm (e.g. Chinese New Year).

It's possible, but requires some expertise knowledge.

Cheers! Sacha

[2019-02-08 12:08] stelgenhof commented on #132
Thanks for the example. Very helpful. So if I understand correctly, the expected number of vacation days is 4, however your returns 3.

The reason is that the time of your `$dateEnd` is '00:00:00', which means start of the day, but isn't a full day. When doing a date comparison, this date will not be included, because also the date to check against has a time value of 00:00:00.

If you this after

[2019-02-08 12:31] IceShack commented on #132
No, the expected number of vacation days should be 3 as '2019-01-01' is new years day and "between" `$dateStart` and `$dateEnd`.
But it returns 4, because of comparing 2 different timezones to each other. It has nothing to do with `$dateEnd->endOfDay();`
This code actually works correctly, if all dates use the same timezone.

[2019-02-08 12:45] stelgenhof commented on #132
Sorry then misunderstood you first example. However, if I run your original example again, I get 3 days as output. (as you expected).

[2019-02-08 12:49] oallain commented on #137
Thanks you for response @stelgenhof :)

I haven't this Knowledge :(

Do you know someone who have it ?

[2019-02-08 12:49] IceShack commented on #132
Yeah should have tested the example. So the end date actually needs to be endOfDay.
I fixed the example, which still doesn't change my issue though.

[2019-02-08 13:06] stelgenhof commented on #137
I wouldn’t mind investigating and working on this myself, but am pretty busy with some other projects at the moment.

If there is anyone that could help, that would be great.

Cheers! Sacha

[2019-02-08 13:21] oallain commented on #137
It would be great, I really need it ;)

Thank you so much !

[2019-02-09 11:37] stelgenhof commented on #132
Today I've spent more time understanding your example and did some experimentation.

Still I am confused what your business case is. Your initial date range returns 3 weekdays (January 1st, 2nd and 3rd). The second part of your example where you use Yasumi, you reduce the number of days in case the day in your day range happens to be a holiday. This part is I believe not needed, as for 2019 Januar

[2019-02-11 01:40] stelgenhof commented on #127
Closing your issue, assuming your question has been answered. Please feel free to open a new issue if you still have questions.

[2019-02-11 01:40] #127 closed

[2019-02-11 12:09] IceShack commented on #132
Hi Sacha,

I try it from a business perspective now with no code. :wink:

Employee John has 25 vacation days each year.
John plans a vacation from 2019-04-15 to 2019-04-28 which are 14 days in total. But he would only use 8 of his vacation days, because the 19th and 22nd are public holidays and he only works from monday to friday.
John also went on a vacation from the 2019-01-01 to 2019-01-04 whic

[2019-02-13 01:35] stelgenhof commented on #132
Hi Moritz,

Thank you very much for providing your business case. It indeed helped me much better understanding what you want to achieve.

As said, DateTime instances - and also Yasumi's Holidays - are a single point in time and not a date range. For your example, it is irrelevant what the start time of a holiday is, however since you get the dates from an external source (with the time element),

[2019-02-13 06:59] IceShack commented on #132
Hi Sacha,

Thank you for the gist! That works for me.

[2019-02-13 12:04] stelgenhof commented on #132
@IceShack Thanks! Good to hear it works for you. I'll go ahead and close this issue and the PR.

Cheers! Sacha

[2019-02-14 00:07] #132 closed

[2019-02-19 17:08] livingBEEF commented on #131
One could do something like this
[code]
in `AbstractProvider::__construct`, additional filtering could then be done in `addHolyday. If the target were be enable date ranges no greater than around year (keeping irregular holidays like Easter in mind), the required changes might be somewhat manageable, as `$this->holydays[$shortName]` would still mostly work as expected.

[2019-02-21 14:20] stelgenhof commented on #131
@livingBEEF That is an option, however I am also concerned about performance. If a date range or multiple years are a possibility, then theoretically one could take a range from the year 1000 until 9999.

Some holiday providers use extensive calculations (e.g. Japan). In that case, calculation would take a long time. It may not be a common / practical scenario, but nevertheless possible.

[2019-02-21 14:23] stelgenhof commented on #134
@gRoberts84 Just wanted to check whether you had time to view my last comment.

[2019-02-21 22:18] Milamber33 commented on #131
Anyone who asks for all holidays between 1000 and 9999 deserves exactly what they get IMO. The job of an API like this is not to place any restrictions on usage, but to cater for all usage scenarios and let developers using it decide how to filter requests to sane date ranges.

[2019-02-21 22:38] livingBEEF commented on #131
I think the most glaring issue is things like Nov 26, 2018 - Jan 6, 2019 (one calendar square) needing multiple providers.
And allowing for range greater than one year would require more extensive changes anyway, since the `AbstractProvider::$holidays` array is indexed by holiday's `shortName` which doesn't change across years, which obviously wouldn't work with multiple years - all logic related

[2019-02-21 23:15] Milamber33 commented on #131
You're right about this being my main issue personally, and probably also the main issue that a lot of other people will face, so the simple extension you're suggesting is certainly a good short term fix, but in the long run I think the more extensive changes (possibly converting $this->holidays[$shortName] into an array rather than a single value) will make for a much better API. You used the exa

[2019-02-21 23:39] stelgenhof commented on #131
Good discussion! :)

@Milamber33 Agree that if users use that kind of date range, they get what they ask for. Just wanted to lay out the possible consequences if the year parameter would be replaced by a date range.

My personal preference would be to implement a date range - as suggested - rather than trying to 'extend' the current year so an issue like around the year switch could be overcome. I

[2019-03-05 20:55] jagers commented on #91
Per wikipedia,

The official executive order from the president can be seen here:
https://www.archives.gov/federal-register/codification/executive-order/11582.html

Section 3(a) essentially means that **all** holidays are eligible to have substitute holidays, not just New Years Day, Independence Day, and Christmas Day. In reality, this libarary is only missing Veterna's day since that is the only

[2019-03-28 02:06] Angelo8828 opened #142 "Provider for Philippines?"
Hello Sir @stelgenhof,

I tried to use this package and it's actually great. I'm actually interested to create a provider for Philippines holidays because as of the moment, there's no open-source projects written yet for providing data for Philippine holidays in PHP. Will it be alright if I will try to contribute something to the project?

Cheers and regards,

[2019-03-28 12:26] stelgenhof commented on #142
Hi @Angelo8828,

Thank you for willing to contribute to this library. New countries are more than welcome! The best way to get started is by looking at other country providers (you can even copy one as a begin).

Let me know if you have any questions.

Cheers! Sacha

[2019-03-30 01:20] stelgenhof commented on #91
Resolved in release v2.1.0

[2019-03-30 01:20] #91 closed

[2019-03-30 05:40] gogl92 opened #143 "Provider for Mexico"
Creating the provider for Mexico is not too difficult except for the holidays that are adjusted to the closest monday.

[2019-03-30 05:58] stelgenhof commented on #143
Thanks! Is this issue just a request or are you planning on contributing the provider for Mexico?

Having holidays that are observed to the next Monday in case a national holiday is not difficult. You can see the code of other holiday providers how it is done.

Cheers! Sacha

[2019-03-30 06:11] gogl92 commented on #143
I will try to make the contribution and create the pull request.

[2019-03-30 07:07] stelgenhof commented on #143
@gogl92 Cool! Let me know if you have any questions. Best is to use one of the existing countries as a starting point. FIY, your PR needs to be made against the develop branch :)

Cheers! Sacha

[2019-04-10 06:41] TELLO0815 opened #144 "Symfony 4 integration"
Hi all,

sorry im new bee.
I want to use Yasumi to check in Symfony the date for Swiss if it is a holiday or not. How can I get datas for two years? Like im on the end of the year... Or must I write it with the year now and second array with the year + 1?

[code]

TELLO

[2019-04-10 14:03] stelgenhof commented on #144
Hi,

At the moment there is only one way of doing it and that is like in your example: you would need to instantiate Yasumi twice. This is because the Yasumi class only can cover a single year.

Cheers! Sacha

[2019-05-06 12:12] stelgenhof commented on #144
@TELLO0815 Just want to get back to you. Did my reply answer your question? If so, I will close this issue.

[2019-05-06 12:15] stelgenhof commented on #134
Closing this issue as there as been no activity/response for some time.

[2019-05-06 12:15] #134 closed

[2019-05-06 12:32] #144 closed

[2019-05-28 08:29] Dagolin opened #157 "Provider for Taiwan"
Yes, Taiwan is just one of the countries have NO arithmetic calendar, so it's impossible to implement a once and for all solution for them, even the government themselves cannot tell.

However it's possible to fetch the date on the fly from the government, normally the government will announce the holidays a year before, Taiwan for example, the government announces the calendar of next year on 1 M

[2019-05-28 11:23] stelgenhof commented on #157
There are indeed some countries that have holidays which aren't easy to implement (as you said: not arithmetic). Since Yasumi doesn't use any database, it is an option to capture the holidays within the code; although not ideal.

Recently South Korea was added, and it included a holiday where predefined dates are included in the source code. As said, in some cases this maybe the only alternative.

[2019-05-29 10:00] Dagolin commented on #157
Totally agree, I found that South Korea was added with only few holidays which can be predefined. I believe that there are more which cannot be calculated before, and hard to predict, just like the golden week of the emperor's accession in Japan in 2019.

I would love to help to improve holidays of Taiwan for the predictable holidays

[2019-05-29 10:18] stelgenhof commented on #157
If you like to give it a try, please go ahead. I would indeed first start with those holidays that are predictable (i.e. can be calculated).

[2019-06-20 10:29] wouter2203 commented on #99
Having this would be very beneficial indeed. Is there any progress going on for this suggestion?

[2019-09-07 15:15] crossan007 opened #173 "Add data point for holidays with link to holiday details"
It would be nice to have a curated list of links to URLs for details about the specified holiday.

[2019-09-07 23:43] stelgenhof commented on #173
Hi @crossan007

Definitely a nice idea! Currently the source code contains links to URLs for the majority of the holidays. Are you thinking of a function for the Holiday class that returns those URL's? Or did you have something else in mind?

Cheers! Sacha

[2019-09-09 12:48] crossan007 commented on #173
Exactly!

So, instead of the `@ link ` comment (https://github.com/azuyalabs/yasumi/blob/develop/src/Yasumi/Provider/CommonHolidays.php#L36), the `class Holiday` could implement a `getURLs() : array[]` function which returns an array of type string (or possibly a new DTO for link - if we think more link metadata could be helpful).

This would enable applications using Yasumi to provide a user-faci

[2019-09-11 14:43] stelgenhof commented on #173
I think each URL is rather a ValueObject than a DTO ;) Anyways, each Holiday could indeed return a collection of URL's that are defined within the class.
As for any metadata, do you have some ideas/suggestions for that? What I can think of right now is the 'source', however that can possible be deduced from the URL.

So we could have:
- Source identifier
- URL
...

[2019-09-11 14:58] crossan007 commented on #173
An additional (possibly useful) property of the 'source' object may be an ENUM value representing the "authoritativeness" (or a better word) of the 'source'.  I.E. `COMMUNITY_MAINTAINED`, vs `GOVERNMENT_OFFICIAL` to allow data-class-consumers to differentiate "wikipedia-like" sites from "official" sites.

There are probably other "information authority classifications" that would fit here, but I c

[2019-09-11 15:10] stelgenhof commented on #173
That is indeed a valuable property. Other ones could also be:

- Author
- Date of Last Revision
- Objectivity
- Accuracy

My only concern at the moment is that it would become a pretty heavy ValueObject :) Perhaps it is best to start simple.

[2019-09-11 15:14] crossan007 commented on #173
Of those you listed, I think `Date of Last Revision` would be the simplest to include with the highest benefit.

Would `Author` be person / organization / government credited with creating the content at the URL?  Or the person who contributed the `HolidayInformationalReference` data?

Not sure how we can "objectively" quantify `Objectivity` and `Accuracy` :-) but I like the idea!

[2019-09-11 15:19] stelgenhof commented on #173
`Author` is indeed the person / organization / government that is the owner of the source. Perhaps this one is of low benefit.

Indeed `Objectivity` and `Accuracy` might be hard to quantify and even testify as it can be quite subjective. It was just a thought :)

[2019-09-16 15:10] stelgenhof commented on #173
I have some good idea how to do this :) At the moment I am working on making the Yasumi v2.2 release, so I will have a go after that.

[2019-09-17 16:16] c960657 commented on #99
A different approach would be to have specific providers for different use-cases. E.g. `Yasumi\Provider\Denmark\SchoolHolidays`, `OfficeHolidays`, `BankHolidays`.

Possibly with provider-specific holiday types, e.g. for `Yasumi\Provider\India\ReligousHolidays`, type could be `TYPE_CHRISTIAN`, `TYPE_BUDDHIST` etc.

Such providers may be easier to implement, because they each have a more specific sc

[2019-09-18 01:54] stelgenhof commented on #99
The implementation may indeed be more simpler, however the current way feels a bit more natural to me. It simply communicates: 'What are all the holidays in India?', irrespective of the classification.

Creating classes that encompass a specific scope would require a developer to make (coding) decision what class to use.

Maybe not a strong argument, but just my initial feeling :) I would prefer t

[2019-09-22 08:55] stelgenhof commented on #82
@alexdembo, @daffoxdev Recently a new class named `SubstituteHoliday` has been created that handles substitute holidays in a much better fashion.

The `AbstractProvider::count` method will not double count when a holiday is being substituted. You can of course still use the standard PHP `count` function, but that will count both the original holiday as well as the substitution. So depending on you

[2019-10-05 18:42] huehnerhose opened #179 "language agnostic holiday definitions"
I really love yasumi :) It works like a charm and is very well maintained.

At the moment I need something just like yasumi, but for golang. It seems like there is nothing of this sort. Which led me to the idea of sharing the data-basis of yasumi more generic and make it possible to implement the logic around the data-basis in any language needed.

To do this, we would need some kind of "holiday d

[2019-10-05 23:11] stelgenhof commented on #179
Thank you for the kind words :) I am doing my best to make Yasumi as user/developer friendly as possible.

As for your question, are you merely interested in the holiday data or actually the holiday logic? If it is the logic you are looking for, then I don't know any common language that could describe this.

Holidays are in many cases pretty regular in terms of their pattern, but there are numero

[2019-10-06 03:20] stelgenhof commented on #82
Closing this issue as I haven't had any feedback yet and believe release v2.2.0 covers this.

[2019-10-06 03:20] #82 closed

[2019-10-07 10:08] stelgenhof commented on #143
@gogl92 Wanted to check if you have made any progress with the Mexico provider. If not and you don’t have any time, I can take it over if you like

[2019-10-08 04:09] AGDholo commented on #42
Some holiday dates in China will change slightly with the date of the weekend, and someone may need to manually maintain it at regular intervals.

[2019-10-10 06:08] zachleigh opened #181 "No easy way to get substituted holiday translations?"
I love this package and have been using it for years. I used to be able to simply do ` $holiday->translations['en']` to get translations, even for substituted holidays. Now it seems like I have to do something like this monstrosity:
[code]

Is there no better way? Couldn't find it in the docs..

[2019-10-10 06:34] c960657 commented on #181
I suggest adding an optional argument for `$holiday->getName()` that allows you to override the provider's displayLanguage.

This would allow you to do `$holiday->getName('en')` and `$holiday->getName('ja')`.

I'll be happy to create a PR for this.

[2019-10-11 13:47] stelgenhof commented on #181
@zachleigh Indeed this isn't really friendly.
@c960657 Pre v2.2.0 the substituted holiday would return all the available translations, whereas v2.2.0 would simply return blank if you use the `translations` attribute.

Pre v2.2.0
[code]

would return:

[code]

v2.2.0 would return an empty array.

I think it is better the behavior is the same as before.

[2019-10-11 14:13] c960657 commented on #181
v2.2.0 introduced locale fallback, so we don't have the `en_US` and `ja_JP` entries anymore, just `en` and `ja`. Preserving the previous behaviour would be difficult.

In general, it is hard to preserve BC for public instance variables.

It would not be difficult to populate `translations` for substitute holidays, assuming we just use the `en`/`ja` keys. I suggest we do this for BC, but that we de

[2019-10-28 22:06] c960657 commented on #181
On second thought, it is not completely trivial.

E.g. New Year's Day has just one English translation, so the `translations` array would contain just `en` (in addition to the non-English locales). The substitute pattern has multiple English patterns (`en`, `en_US`, `en_CA` etc.), so the `translations` array for `substituteHoliday:newYearsDay` would need to be populated with entries for the union

[2019-11-27 14:26] lsv opened #186 "BetweenFilter and multiple years"
So, as we are aproaching new year, it would be great to see this example get updated, because we might actually have 2 different years, as we are close to new year.
Or actually in general it would be great to have :)

[code]

Is there any better method?

[2019-11-27 14:37] stelgenhof commented on #186
Good question. Actually Yasumi is still tied to a single year so your example is I am afraid the best one. See also the discussion here: https://github.com/azuyalabs/yasumi/issues/131

Neither myself nor anyone has yet investigated this further. I don't expect this will be picked up anytime soon.

[2019-12-04 06:42] tuanntjvb opened #187 "How to add yasumi to laravel?"

[2019-12-04 14:49] stelgenhof commented on #187
The Yasumi  class is a simple factory class that you can use anywhere in your Laravel application, e.g. the controllers, models, or other classes.

Another possibility is to register it in your Service Provider class so it is available everywhere in your application.

[2019-12-06 13:20] stelgenhof commented on #187
In case you're looking for a Laravel package, there is one created by somebody in the community: https://github.com/blood72/laravel-yasumi. Although I haven't used it myself, it may be what you're looking for.

Cheers! Sacha

[2019-12-06 13:20] #187 closed

[2019-12-28 11:52] tniemann opened #192 "Issue if calculated workday is in next year"
Currently, the year of the calculated date is not changed if it is in the next year.
When u try to get the next working day starting from 28.12.2019 and with 3 working days the calculated day is 1.1.2019 which is in the past.

https://github.com/azuyalabs/yasumi/pull/194

[2019-12-31 14:20] stelgenhof commented on #192
#194 Merged.

[2019-12-31 14:20] #192 closed

[2020-01-13 11:31] ravage84 opened #198 "RFC: Using class constants for holiday names"
This is a Request For Comment.

To be honest, I just came across your fine library,haven't had a chance to use it yet.
But while I was browsing through the documentation and code, I was wondering **why the names of the holidays are (magic) literals instead of class constants**.

So ,for example, instead of doing this:

[code]

It could be this:

[code]

Magic literals _can_ become a maintenance pr

[2020-01-14 00:38] jbroudou opened #199 "Date addition (Australia Day Subdivision: AU-SA / Year: 2020)"
It appears from https://www.safework.sa.gov.au/law-compliance/laws-regulations/public-holidays that in 2020 in South Australia, 2020-01-26 (Sunday) and 2020-01-27 (Monday) are both "Australia Day" public holidays. See specifically footnote 1 on this website which states: "If a Saturday, normal rates apply and the following Monday is the public holiday. If a Sunday, that and the following Monday ar

[2020-01-14 13:09] stelgenhof commented on #199
Thanks for spotting this one. Although in the code a substitution is performed, it actually overwrites the original holiday resulting the original one not to be present. The code for Australia needs a bit of rework as it doesn't apply the **SubstituteHoliday** class that recently was introduced.

[2020-01-14 13:12] stelgenhof commented on #198
As for the why, there isn't a particular reason and definitely agree that class constants should be used instead. It might take a bit of time before all literals are transposed to class constants.

Cheers! Sacha

[2020-01-14 15:14] stelgenhof opened #200 "Reorganize WorkingDay/WeekendDays unit tests"
The various tests for asserting working days vs weekend days and holidays are a bit scattered. Would be better to have these organized or grouped in their own test classes.

[2020-02-22 04:40] iquito opened #206 "Switzerland holidays possible improvements"
I was trying to use this library for the holidays in Switzerland, but found the following unexpected situations:

- The base class "Switzerland" only has one holiday (1. of August), but actually there are 4 holidays which are universal across all of Switzerland. This is seen in this table: https://en.wikipedia.org/wiki/Public_holidays_in_Switzerland
- The subclasses for the regions mark most holid

[2020-02-22 04:56] iquito opened #207 "List of countries / providers"
What I really missed in the documentation was a list of providers that can be chosen. Ideally, there would be a list of all providers with:

- Number of holidays in that provider
- Some hint about how the holidays were chosen / how the holidays work in that country, as somebody might try to use the library for a country they do not know super well
- Possible caveats. A good example is [Switzerland

[2020-02-22 11:09] stelgenhof commented on #206
@iquito Thank you very much for bringing this up. Definitely this could welcome some updates as not always the latest or correct logic may be implemented.

Please feel free to add PR's to fix the issues you mentioned. If you do, I strongly suggest to create for each case/issue a separate PR. That way it is easier to manage. Don't forget to include unit tests as well!

Cheers! Sacha

[2020-02-22 11:11] stelgenhof commented on #207
Thank you for highlighting this. Definitely the documentation could be improved in the areas you've mentioned. Let me make a note of this and see if I can incorporate this in a next release.

Cheers! Sacha

[2020-03-04 09:43] nilshoerrmann opened #208 "Half-day holidays"
In Germany, Christmas Eve and New Years Eve are special days where businesses close around noon. They are not offical holidays but ["half-day holidays" by law](https://de.wikipedia.org/wiki/Laden%C3%B6ffnungszeit#Sonderregelungen_an_Heiligabend_und_Silvester). This applies to all federal states.

There are also ["silent days" where things like dancing are prohibited](https://de.wikipedia.org/wiki/

[2020-03-04 12:52] stelgenhof commented on #208
Yasumi is designed with no particular restriction on how holidays defined. It is possible to represent those holidays in Yasumi just as any other full holiday. What matters more is how you like to use that information in your application or project, i.e. your business case.

[2020-03-04 13:00] stelgenhof commented on #207
@iquito Had some more thoughts about your question and points:
- The number of holidays for each provider can vary per year. Some holidays are cancelled or replaced, and some new ones get introduced.
- That would be indeed good to have. At the moment the best source for this is the source code
- There will be indeed many countries with such construction of holidays.

I feel that creating and maint

[2020-03-04 13:42] nilshoerrmann commented on #208
Christmas Eve and New Years Eve are both days where businesses have to close earlier by law in Germany (the time varies by federal state). So I've expected them to be included in the list of holidays, tagged in a way that I could filter those dates out. Still, both days are no official holidays and none of the available types really fits (well, "others" always works).

So I actually have two reque

[2020-03-12 05:15] hugowebtools opened #210 "A Naming Convention Issue on Australian States"
I was trying to create two objects for Victoria and New South Wales in Australia and I realised the the holiday providers for these two states were using different naming conventions.

[code]

If we check the list of providers, we can easily see there are 5 states in Australia using their abbreviations as the class name against the others.
![Screen Shot 2020-03-12 at 16 04 08](https://user-images.

[2020-03-12 05:32] Milamber33 commented on #210
As the guy who actually built all of the Australian providers, my apologies. :)
Personally, I'm using Yasumi::createByISO3166_2 rather than just Yasumi::create, so if someone feels like changing this I am not opposed.

[2020-03-12 05:48] hugowebtools commented on #210
Ah, it is. I can see `Yasumi::createByISO3166_2` a cool feature and it is very useful. I must miss it in the documentation. Thank you.

[2020-03-12 06:23] iquito commented on #207
I would also not handle this information separately from the code. The best way, in my opinion, would be to add some description/explanation as PHPDoc blocks to the providers, so the information is right there in the class with the logic, but can be extracted to a succint list. "How the holidays were chosen" and "possible caveats" would be my suggestions for additions there, as a high level overvi

[2020-03-12 14:35] stelgenhof commented on #210
To have consistency, renaming them would be good indeed. I can make that change if you like, other otherwise feel free to submit a PR :)

Cheers! Sacha

[2020-03-12 14:36] stelgenhof commented on #207
@iquito That would be my approach as well :)

[2020-03-14 16:24] #24 closed

[2020-03-16 00:03] #198 closed

[2020-03-16 00:03] #181 closed

[2020-03-16 00:03] #186 closed

[2020-03-16 00:03] #179 closed

[2020-03-16 00:03] #173 closed

[2020-03-16 00:03] #157 closed

[2020-03-16 00:03] #142 closed

[2020-03-16 00:03] #143 closed

[2020-03-16 00:03] #137 closed

[2020-03-16 00:03] #131 closed

[2020-03-16 00:03] #99 closed

[2020-03-16 00:03] #69 closed

[2020-03-16 00:03] #93 closed

[2020-03-16 00:03] #58 closed

[2020-03-16 00:03] #59 closed

[2020-03-16 00:03] #33 closed

[2020-03-16 00:03] #42 closed

[2020-03-28 16:28] siburny commented on #99
I would like to help with this. If someone adds the tags, I will go through USA holidays and add proper tag to the each one.

[2020-03-29 23:52] stelgenhof commented on #99
@siburny Thank you for willing to help. Unfortunately this feature is not at the stage where there is a conclusive design nor even a proof of concept. This still needs to be vetted out.

[2020-03-31 01:33] siburny commented on #99
I think this idea of "tags" is spot on. Each holiday date can be assigned one or more tags. However, I do think we should avoid mixing "types" and "tags"; we should stick to one classification system.

[2020-04-22 04:14] jbroudou opened #212 "Flag original dates for observed days"
When an observed day (i.e. holidays that are moved because they are on a weekend) is returned would it possible to flag what the original date was rather than relying on a string suffix?

Also, in some locations when a holiday falls on a weekend, it is moved to a weekday as an observed day. In some of these locations only the observed day is considered a holiday whereas in others both the observed

[2020-04-22 04:32] stelgenhof commented on #212
The common way of implementing this behavior is that both the original and observed/substituted holiday are registered in the Holiday Provider. This is to have the possible to refer to the original holiday (rather than simply replacing it). The substituted holiday will indeed have a string suffix however is a considered a different day.

I think what you are requesting is already in place. Is ther

[2020-04-22 04:43] jbroudou commented on #212
I see that the substituted holidays are typically suffixed with a string such as "Observed" or "Holiday", but I'm not certain that this is always the case. I was hoping for a property against the substitute day that explicitly states what the original date was.

Cheers

[2020-04-22 05:50] c960657 commented on #212
Substituted holidays are represented with the `Yasumi\SubstituteHoliday` subclass. You can access the original holiday, i.e. the day being substituted, via the [`$substitutedHoliday`](https://github.com/azuyalabs/yasumi/blob/develop/src/Yasumi/SubstituteHoliday.php#L31) property.

[2020-04-29 13:32] #199 closed

[2020-05-01 00:48] #210 closed

[2020-05-03 00:02] #206 closed

[2020-05-04 01:38] stelgenhof commented on #208
@nilshoerrmann My apologies for the prolonged response. As there are a few more such cases, I am in the process of redesigning how the holidays can get classified. Your examples of half days and 'silent' days could be supported as well.

[2020-05-05 00:40] kohenkatz opened #216 "American "Labor Day" should be spelled the American way"
For other countries that have a "Labour Day", using the British/Canadian/Australian/etc spelling makes sense.

However, in the USA, the spelling should be "Labor Day".

I would make a PR for this, except that I'm not sure what is the best way to handle it:

- I would put it in `Yasumi\Provider\USA` since I think Americans should see the other countries' version with a "u" and other countries shoul

[2020-05-05 03:47] stelgenhof commented on #216
@kohenkatz Thank you for noticing this. The way to handle this by Yasumi is to add translations of a holiday in the respective file (in this case `labourDay.php` (Not that the filename just represents the internal name used by Yasumi and not it's translations)

For displaying the correct spelling depending on the user, you can pass a locale parameter with the `getName()` method. This accepts an ar

[2020-05-11 14:55] flavioheleno opened #217 "List Work days between two dates"
Hi, is there an embedded way to list the **work days** between two given dates?

Something like: `AbstractProvider::between`, but for work days rather than holidays.

If not, I'm happy to provide a PR if this is an appropriate feature for the lib.

[2020-05-11 15:07] stelgenhof commented on #217
Hi @flavioheleno Thank you for your question.

There is no such method within the API. I would recommend to create your own custom filter. You can use the BetweenFilter as an example: https://github.com/azuyalabs/yasumi/blob/develop/src/Yasumi/Filters/BetweenFilter.php

Only need to add a condition for checking if the holiday is a working day or not and you are good to go!

Cheers! Sacha

[2020-05-11 15:15] flavioheleno commented on #217
Hi @stelgenhof Thank you for such a quick reply!

I've done something similar to that but not using a filter, your approach is def more elegant!

Would that filter be a nice thing to contribute back to the library?

[2020-05-11 15:27] stelgenhof commented on #217
@flavioheleno Yes definitely! If you like to submit a PR that would be great.

Cheers! Sacha

[2020-05-11 20:27] flavioheleno commented on #217
Hey @stelgenhof, I was checking the internals of the filter classes (specially the `BetweenFilter` class) and I could not find a way around to do Work Days with that approach.

The problem is that the iterator being filtered is an iterator of holiday dates and not the dates in the interval, check below.

[code]

Would it be fine if I did something straight in the `AbstractProvider` using `Abstract

[2020-05-12 10:48] stelgenhof commented on #217
Hi @flavioheleno Yes, I now realize I slightly misunderstood your request and also the `isWorkingDay` method is not a behavior of the Holiday class :(

If you could make a PR for your suggestion that would be great. Keep in mind that I am working on a different way how a working day is defined as the current logic is not appropriate. So your PR may come in a bit later or needs to be adjusted.

Che

[2020-05-19 11:06] stelgenhof commented on #207
@iquito Not answering all your questions but the new Yasumi Documentation site has a list of all the countries and the holidays for this year documented. You can have a look here: https://www.yasumi.dev/docs/providers/

Cheers! Sacha

[2020-05-26 14:30] stelgenhof commented on #207
@iquito Going forward with the new documentation site, please submit any new issues or requests regarding the documentation to the Gitlab Repository here: https://gitlab.com/azuyalabs/yasumi/docs

[2020-06-03 00:14] stelgenhof commented on #216
@kohenkatz I've added a correct spelling in the 'dev' branch. It will be part of the upcoming 2.3.0 release.

[2020-06-22 12:47] stelgenhof commented on #216
Fixed in 2.3.0

[2020-06-22 12:47] #216 closed

[2020-07-02 10:39] theArtechnology opened #229 "Feature/Add Holidays for Mauritius Island and Other African Countries"
I would be glad if you could add holidays to my country (Mauritius) and other African countries :
The official list from [SADC](https://www.sadc.int/) :

https://www.qppstudio.net/publicholidays2020/sadc.htm

[2020-07-03 03:31] stelgenhof commented on #229
@theArtechnology Thank you for the PR! Definitely Mauritius can be added, as there aren't yet many African countries supported (except South Africa).

[2020-07-10 10:21] theArtechnology commented on #229
@thedreamatorium

[2020-07-15 06:48] heikoter commented on #208
I am using yasumi now for the first time (from germany) and we have the same problem with new years eve.
If we have to decide, in my opinion, its more a working day then a holiday.

[2020-07-16 15:07] stelgenhof commented on #208
@heikoter Yes it is not straightforward as it seems. In the end it may be only relevant how you want it to be in your own application, ie. your business rules/logic. Personally I tend to follow the official, legal definition of each country.
Perhaps the best way to look at this is how you in Germany distinguish `Werktage` and `Arbeitstage` (https://en.wikipedia.org/wiki/Business_day)

[2020-07-16 16:23] nilshoerrmann commented on #208
https://www.timeanddate.com/holidays/germany/new-year-eve

I like the definition from the link: "New Year's Eve is traditionally a **partial non-working day**". So, is the glass half full or half empty, is it a holiday or not? That certainly depends on the perspective or the context but it's definetly a special day.

Personally, I think the German words "Werktag" and "Arbeitstag" are not helpful i

[2020-07-20 19:16] c960657 commented on #208
As a developer, I do not have intimate knowledge of holiday rules and conventions in other countries than my own. I would prefer if I could delegate this kind of business logic to an external library like Yasumi.

If my application needs to show e.g. work-free days or days when banks are closed, I would like to get this information from the library rather than having to investigate the specific ru

[2020-07-22 13:40] stelgenhof commented on #208
That's what Yasumi is designed to do. :)

[2020-07-28 13:49] stelgenhof commented on #207
Transferred to: https://gitlab.com/azuyalabs/yasumi/docs/-/issues/3

[2020-07-28 13:49] #207 closed

[2020-08-25 00:13] stelgenhof commented on #212
Closing this issue has Yasumi has a way of separating Substituted Holidays and the original substituted holiday.

[2020-08-25 00:13] #212 closed

[2020-08-27 07:34] sebastianpisula opened #230 "Custom Holiday"
Hi,

I would like to use Yasumi as engine for calculation for delivery date but I would like to include holiday (for example seller has holiday).

    $holidays = Yasumi::create( 'Poland', 2020 );
	$holidays->addHoliday( new Holiday( 'Holiday 1', [], new DateTimeImmutable( '2020-08-27' ) ) );
	$holidays->addHoliday( new Holiday( 'Holiday 2', [], new DateTimeImmutable( '2020-08-28' ) ) );

	echo Ya

[2020-08-30 09:03] stelgenhof commented on #230
Thank you @sebastianpisula Let me have a look and get back to you.

[2020-09-01 00:15] stelgenhof commented on #230
@sebastianpisula You should use the `workingDays` parameter of the nextWorkingDay function, which tells until how many days ahead Yasumi need to look for the next working day.

However I think this function is broken, as my tests don't give the expected next working day even after setting the appropriate `workingDays` value.

[2020-10-01 10:06] tadasauciunas opened #232 "prevWorkingDay/nextWorkingDay to take into account only official holidays"
Hi, I have a feature request for `prevWorkingDay` / `nextWorkingDay` methods. I want the ability to ask the `isWorkingDay` method to return true only on official holidays. Currently it returns true on observance and other types of holidays, and that makes the `prevWorkingDay` / `nextWorkingDay` functions not work correctly in our case, since observance holidays might be working days officially.
I'

[2020-10-01 12:07] tadasauciunas commented on #232
My bad, apparently not all 'observance' holidays should be removed from the list we need, so extending the holiday providers and removing the unnecessary holidays will be enough in our case.

[2020-10-01 12:07] #232 closed

[2020-10-01 12:11] stelgenhof commented on #232
Hi @tadasauciunas Extending the providers is definitely a solution. However I am aware that the way Yasumi determines a working day / non working day is not working correctly. Working on that one... :)

[2020-10-02 00:09] #208 closed

[2020-10-05 18:56] jroman14 opened #234 "Spain and Catalonia: Valentine's day is not holiday"
Hi mate,
valentin day is not holiday in spain and catalonia. Can you update that?

Thanks for your job

[2020-10-08 14:54] sachatelgenhof commented on #234
Hi, Valentine's Day is indeed in most countries not an official holiday. For Spain it is classified as 'OTHER' meaning not an official holiday. Do you have a particular issue when using Yasumi for Spain?

[2020-10-08 15:55] jroman14 commented on #234
Hi I'm using getHolidayDates function to save in internal calendar. Then valentines days appear as holiday. There are any method to filter days classified as Other?
Thank you again!

[2020-10-10 01:12] stelgenhof commented on #234
Yes, you can use filters for that. Have a look at the documentation here: https://www.yasumi.dev/docs/cookbook/filters/
The **OfficialHolidays** filter will exactly do what you need.

Cheers! Sacha

[2020-11-11 00:07] #230 closed

[2020-11-15 00:08] #200 closed

[2020-11-21 00:08] #229 closed

[2020-11-21 00:08] #217 closed

[2020-11-25 13:17] websecureNL opened #236 "Multiple countries / compare?"
For our project we need the holidays for a certain period (between function) of 2 countries (origin and destination). We thought of 2 ways to get this done.
1) To be able to create a yasumi object for 2 countries
2) To make 2 separate objects and compare/merge them

Can you tell me of 1 is possible? If not, option 2 could be possible but we do not have a unique field in the object to compare. If y

[2020-11-26 15:22] stelgenhof commented on #236
Thank you very much for your question. Option 1 is not possible as each instance created by the Yasumi main class is a single Holiday Provider (i.e. country or subdivision).

You could write your own Factory Method to do that, however I think option 2 is the best choice. I am not familiar with your particular use case, however with option 2 you need to consider dealing with holidays from different

[2020-12-02 16:39] realtebo opened #239 "Only a thanks!"
I want to thank you and all the collaboratos of this project.

today you saved our lives allowing to fix a problem in < 5 minutes in a online store.

Great !

[2020-12-03 16:28] stelgenhof commented on #239
@realtebo Thanks for the kind words! Happy to hear that Yasumi helped you out.

[2020-12-19 20:52] heiglandreas opened #241 "Calculation for easter-date is either for orthodox or for western church"
Hey. I stumbled over your lib via [a tweet](https://twitter.com/norbert_tech/status/1340394287595479041) and I checked how you solved the issue with different calendars and different easter-calculations. And stumbled over the fact that you are using only one easter-calculation. I didn't so far dig too deep into it but from what I know so far there is a slight difference - sometimes.

I will check

[2020-12-20 00:10] #234 closed

[2020-12-31 08:09] pete1019 opened #242 "Germany: 2020-12-31 New Year’s Eve no Holiday"
Hello, thanks a lot for the effort you put into yasumi.

It shows for today (2020-12-31 New Year’s Eve)
Holiday

But officially there is no holiday today.

Lets discuss!

Thanks

[2021-01-06 04:55] shoutbomb opened #243 "Adding other USA holidays"
Wondering if these are planned for a future release;

Lincoln's Birthday
Yom Kippur
Rosh Hashanah
Day after Thanksgiving
Pioneer Day... July 24th annually for Pioneer Day which is a state holiday in Utah

Many Thanks for this project,
George

[2021-01-06 11:48] stelgenhof commented on #243
Hi @shoutbomb ! Not directly planned, but these can definitely be added of course.
And a big thank you for the 'coffee'! That is quite a lot :)

[2021-01-06 11:50] stelgenhof commented on #242
Hi @pete1019 It is indeed not correct to show this as an official holiday. In many countries this is often just observed and in some business sectors people may get off work earlier.

[2021-01-06 11:56] pete1019 commented on #242
Hi @stelgenhof

yes they may get off work ealier but for example: we use yasumi for a PBX. And now if someone calls on the 31st of december at 9 o clock it will tell them right away: its a Holiday. This is a problem since it is NOT a holiday in Germany.

Any ideas? Thanks

[2021-01-06 12:02] stelgenhof commented on #242
@pete1019 Yes, it is possible to reclassify this day as a non-official day. It will then not appear in the list of official holidays.
Alternative you can create a custom filter to filter out any holidays you seem not relevant for your situation.

[2021-01-06 12:05] pete1019 commented on #242
@stelgenhof will this be a pull request / change you will do? Available in next version?
Filters are explained in docs?

[2021-01-06 12:09] stelgenhof commented on #242
@pete1019 Yes, here you can find how to use one of the filters that come with Yasumi: https://www.yasumi.dev/docs/cookbook/filters/
However, to make your own filter there is no such documentation for that. I would recommend to look at the source and see how it is done. It is pretty simple to create your own filter.

As for a fix, I can make change soon that will be in a next release.

[2021-01-06 14:38] pete1019 commented on #242
Thanks a lot for your effort!

[2021-01-06 16:52] shoutbomb commented on #243
No problem your work has made my work easier.

[2021-01-08 09:58] websecureNL opened #244 "Use country code instead of name?"
I could not find this in the documentation, but is it possible to create a new holiday provider instance with the country code instead of name?

So
Yasumi\Yasumi::create('NL', $year);
instead of
Yasumi\Yasumi::create('Netherlands', $year);

[2021-01-08 10:13] stelgenhof commented on #244
Yes, there isn't really an extensive API documentation. To answer your question, you can already do that using an alternative method: `createByISO3166_2` :)

[2021-01-08 10:41] websecureNL commented on #244
Great! Thank you for your work and the quick reply :-)

[2021-01-12 12:36] #244 closed

[2021-01-12 12:41] stelgenhof commented on #242
@pete1019 After looking into this, New Years Eve in Germany is not classified as an 'official' holiday in Yasumi. It is marked as 'OTHER' so all is good here :)

What perhaps you have seen is that when you use Yasumi, it will return all holidays that are registered in Yasumi for your country. That means official, seasonal, bank holidays and other types. If you only need the official ones you need

[2021-01-12 12:41] #242 closed

[2021-01-12 17:45] shoutbomb commented on #243
Hello Sacha,

Do you consider 'sponsorship' for enhancement requests or is it FIFO?  If you do, I would like to discuss this further.

Thanks....

[2021-01-13 10:54] stelgenhof commented on #243
Hi @shoutbomb Yes can consider that. You can contact me directly to discuss further if you like.

[2021-01-19 21:34] pete1019 commented on #242
@stelgenhof what i need is the "isHoliday" function but only with "Official". How is that possible? Thanks a lot!

[2021-01-20 10:43] stelgenhof commented on #242
@pete1019 The function`isHoliday` determines only if the given date is a Yasumi holiday for the respective holiday provider. *Not* a holiday in the sense of a non-working day. Perhaps the term `holiday` used in Yasumi is a bit confusing: in Yasumi it means a day that is recognized as being an event that is celebrated or recognized for various reasons (tradition, religion, national events, global e

[2021-01-20 14:00] pete1019 commented on #242
@stelgenhof Thanks for your fast replay, Sacha.
But this does not work but was working before wie used "Official".
Please help.

 $holidays1 = Yasumi\Yasumi::create($c, date('Y'));
                $holidays1 = new Yasumi\Filters\OfficialHolidaysFilter($holidays->getIterator());
                $holidays2 = Yasumi\Yasumi::create($c, date('Y') + 1);
                $holidays2 = new Yasumi\Filters\Of

[2021-01-30 02:31] stelgenhof commented on #242
Hi @pete1019 ,

Apologies for the delayed response. I am not familiar with your other code (`is_Holiday.php` and `List_Holiday.php`), but the filters in Yasumi are an extension of https://php.net/manual/en/class.filteriterator.php so they don't return an array as such.

You need to do some processing/iteration of the filter results. What exactly depends a bit on your use case.

I've updated your e

[2021-01-30 13:08] pete1019 commented on #242
@stelgenhof
Thank you for taking your time.

last thing i do is:
`die(json_encode([
                    'result' => $result,
                ]));
            }`

I tried your lines and not i don't get the dates back in a list but "[object Object]"

Would be great if you could help again.

This is what i do for output.

`                   $timezone = $data['timezone'];
                    $country

[2021-01-30 13:45] stelgenhof commented on #242
Hi @pete1019 You can just any of the object methods you need. I actually don't know what you want to do or what you would like to see. Can you show me what output you like to have?
It is a bit guessing for me... :)

Cheers! Sacha

[2021-01-30 13:51] pete1019 commented on #242
@stelgenhof

Sure i just want to have this output but with the filter applied:

newYearsDay: 2021-01-01
epiphany: 2021-01-06
goodFriday: 2021-04-02
easterMonday: 2021-04-05
internationalWorkersDay: 2021-05-01
ascensionDay: 2021-05-13
pentecostMonday: 2021-05-24
corpusChristi: 2021-06-03
germanUnityDay: 2021-10-03
allSaintsDay: 2021-11-01
christmasDay: 2021-12-25
secondChristmasDay: 2021-12-26
newY

[2021-01-30 14:36] stelgenhof commented on #242
Hi @pete1019 Thank you! In that case you can just exactly follow the Official Filter example in the documentation: https://www.yasumi.dev/docs/cookbook/filters/

Keep in mind that the filters are iterators, so you need to handle them accordingly. Normally you would loop through the result as explained in the example. That will give you the output you want.

Cheers! Sacha

[2021-01-30 15:18] pete1019 commented on #242
@stelgenhof but i need the Holidays + the dates as mentioned.

[2021-01-31 02:11] stelgenhof commented on #242
@pete1019 Yes, in the example, this part:

[code]

only displays the name. Since a Yasumi class is an extension of PHP's [DateTime](https://www.php.net/manual/en/class.datetime.php) class, you can use those methods as well (e.g. `format`).

So you could do something simple like this:

[code]

Cheers! Sacha

[2021-03-23 13:47] #239 closed

[2021-04-12 16:01] pvgnd opened #246 "Add China Provider"
It would be nice to have China holidays

[2021-04-12 16:02] pvgnd commented on #246
https://www.travelchinaguide.com/essential/public-holiday.htm

[2021-04-15 22:02] pete1019 opened #247 "PHP / solution HELP"
Hi @stelgenhof,

again: thanks a lot for your great work.
need your help on PHP code please. I am not good at all but would love to see your solution. As much detail as possible so i understand.

- holidays Netherlands
- remove kingsDay
- remove liberationDay
- check the current date when .php is opened
- if today is a holiday print the name like christmasDay
- if it is not a holiday print noHolid

[2021-04-16 15:21] stelgenhof commented on #246
Thank you very much for the suggestion. Definitely this will be a good addition.

[2021-04-16 15:29] stelgenhof commented on #247
Hi @pete1019
Sure! For starters to remove holidays from an existing provider, you can use a custom filter. Or more advanced you could create your own custom provider based on an existing one:  https://www.yasumi.dev/docs/cookbook/custom_provider/

For the current date, you can use the standard PHP date functions for that: https://www.php.net/manual/en/function.date.php

You can use the `isHoliday`

[2021-04-16 15:34] pete1019 commented on #247
@stelgenhof

Thanks. Thought you might be able to post some code here for me to use right away.

To strip it down a little bit this might be enough for now:
Print the name like "christmasDay" of the current day.

Again: Thanks  lot!

[2021-04-17 06:53] stelgenhof commented on #247
@pete1019 Good! A few tips/pointers:
- You can use the `date_default_timezone_get` PHP function to retrieve the default timezone. Not necessary to execute a command via the shell
- To avoid parsing the country name / provider name, you can alternatively use the `createByISO3166_2` function which takes the ISO3166 2 character code of a country (e.g. 'NL', 'DE')
- Not necessary to use `strval` (type

[2021-04-27 12:34] stelgenhof commented on #247
Closing, as I assume your question has been answered :)

[2021-04-27 12:34] #247 closed

[2021-04-27 12:51] pete1019 commented on #247
@stelgenhof yes thanks again!

[2021-05-13 00:22] #241 closed

[2021-05-13 00:22] #236 closed

[2021-05-14 00:23] #243 closed

[2021-05-19 15:55] AliMoonICT opened #248 "Holidays for Turkey?"
Would you please add holidays for Turkey?

For Turkish : https://www.takvim.com/2021_takvimi.html
For English : https://www.officeholidays.com/countries/turkey/2021

Thanks in advance.

[2021-05-21 00:23] stelgenhof commented on #248
@AliMoonICT Started working on it: You can check the `turkey` branch (WIP).

[2021-05-26 02:19] #248 closed

[2021-06-01 14:43] oxomichael opened #251 "French Text in translation file in newYearsDay.php"
I found that in the file `src/Yasumi/data/translations/newYearsDay.php`

`'fr' => 'Jour de l’An',`

Can the quotation mark be replaced by a good quotation mark useable in the database ?

As this

`'fr' => 'Jour de l\'An',`

[2021-06-01 14:47] oxomichael commented on #251
Finally i see this quotation mark everywhere....

[2021-06-02 15:08] stelgenhof commented on #251
Hi @oxomichael Actually the use of a straight apostrophe is in this case incorrect. For quotes as in your example the proper one to use is the typographic quote/apostrophe. See https://practicaltypography.com/straight-and-curly-quotes.html and the related
PR: https://github.com/azuyalabs/yasumi/pull/197

You say you want to use the straight quote for storing in the database. Could you explain a bi

[2021-06-03 07:46] pete1019 opened #252 ""Fronleichnam" missing as official Holiday"
Hi,

"Fronleichnam" is missing as official holiday today. Why is that?
Not listed in NRW nor Bayern. Don't know if others are missing, too.

Thanks a lot

[2021-06-03 13:07] stelgenhof commented on #252
Hi, Could you share some sample code that shows the holiday is missing? Thanks!

[2021-06-03 13:50] pete1019 commented on #252
Sure:

`
require_once 'vendor/autoload.php';

if (isset($_GET['c']) && isset($_GET['t'])) {

    $tz = $_GET['t'];

    if ($tz === 'Default Timezone') {
        $tz = `date +%:z`;
    }

    $dt = new \DateTime('now', new \DateTimeZone($tz));
    $c = str_replace('-', "\\", $_GET['c']);
    $c = str_replace('-', "//", $c);
    $c = str_replace('-', "/", $c);
    // $is_holiday = Yasumi\Yasumi::cr

[2021-06-03 14:30] stelgenhof commented on #252
Thanks for the example. I just found out that Corpus Christi is by default set to 'Other' which is likely the most sensible classification for any country that celebrates it. This is the case for Germany (and it's states) as well. Hence why these don't show up.

A reclassification for the respected states is then necessary in Yasumi.

[2021-06-03 15:09] pete1019 commented on #252
Thanks. When might a fix be available?

[2021-06-04 22:05] oxomichael commented on #251
Ok I read the explanation for a good typo and I have several database not in UTF-8 and sometimes it's the front.
As ISO-8859-1 or ISO-8859-15.

`You can also enter curly quotes into HTML documents using the key shortcuts above. They’re non-ASCII glyphs, however, so you need to specify a non-ASCII encoding for the file (like UTF‑8), otherwise they’ll get garbled on decode.`

I found a workaround fo

[2021-06-05 04:58] stelgenhof commented on #251
Good! I work a lot with CMS applications and often this is misunderstood when content contains such an apostrophe.

[2021-06-05 04:58] #251 closed

[2021-07-01 08:48] barami opened #254 "Mistyping in SouthKorea Provider"
Hi.

In SouthKorea provider ```src/Yasumi/Provider/SouthKorea.php```, LUNAR_HOLIDAY constant has mapping table for 'seollal' and it has entry for year 2039, but date value is year 2037.

We should change ```2039-1-24``` instead of ```2037-1-24```.

Thanks.

[2021-07-01 14:30] stelgenhof commented on #254
@barami Thank you very much for spotting this! I will make a correction.

[2021-07-01 14:36] stelgenhof commented on #254
Fixed in the `dev` branch (Targeted for the 2.5 release).

[2021-07-01 14:36] #254 closed

[2021-07-16 05:45] pvgnd commented on #246
I'll try to work on it

[2021-09-02 07:16] pete1019 commented on #252
Hi, any news on this? Thanks a lot

[2021-09-02 11:48] stelgenhof commented on #252
I will look into it this week. Thanks for the reminder!

[2021-09-08 13:59] stelgenhof commented on #252
@pete1019 I have created a PR that will fix this issue. If you like to verify, please have a look at this PR.

[2021-09-08 14:05] pete1019 commented on #252
Thanks, how can i download and check?

[2021-09-08 14:08] stelgenhof commented on #252
You can checkout the `fronleichnam-fix` branch.

[2021-09-08 21:25] pete1019 commented on #252
ahh you mean this:
https://github.com/azuyalabs/yasumi/tree/fronleichnam-fix

okay i will test it and let you know.

[2021-09-08 21:34] pete1019 commented on #252
i tried downloading the code.zip and tried to replace the src folder but i got and internal server error.
I had it working with composer.
How to get the fix "composer-friendly"?

Thanks

[2021-09-11 12:03] stelgenhof commented on #252
@pete1019 I don't think that would work indeed. If you want to go the Composer route, you would need to change the Yasumi version in your `composer.json` with the desired branch (see: https://getcomposer.org/doc/articles/aliases.md#why-aliases-)

You can also checkout the branch with Git and have your script point to that.

[2021-09-11 12:36] pete1019 commented on #252
@stelgenhof thanks and how will i deal with this on 2.4.0?
- _Removed PHP 7.2 Support (PHP 7.2 is EOL)_

I can not upgrade PHP 7.2 at this point.

Is your fix only available for 2.4.0 which does not have PHP 7.2 support anymore?
https://github.com/azuyalabs/yasumi/tree/fronleichnam-fix

THANKS!

[2021-09-11 13:32] stelgenhof commented on #252
@pete1019 It will be fixed in the upcoming 2.5.0 release. 2.4 and 2.5 have support for PHP7.3 or higher as these are the official supported PHP versions.

[2021-09-11 14:02] pete1019 commented on #252
@stelgenhof so i am out of luck with PHP 7.2 for now? I need to upgrade to 7.3?
You used special PHP 7.3 functions or is it just coded that PHP 7.2 is not allowed to use with YASUMI anymore?
Thanks.

[2021-09-11 15:25] stelgenhof commented on #252
@pete1019 Don't know by heart but probably some specific 7.3 syntax indeed is used since 2.4.

[2021-09-19 10:41] pete1019 opened #260 "Thüringen "Weltkindertag" missing"
Thüringen "Weltkindertag" as official holiday is missing.

Thanks

[2021-09-30 10:50] stelgenhof commented on #252
@pete1019 Were you able to do some checks?

[2021-09-30 11:27] pete1019 commented on #252
@stelgenhof unfortunately not since the PBX i am using it on still is on PHP 7.2. Hope at least PHP 7.3 in the next weeks / months.

[2021-09-30 11:27] pete1019 commented on #260
@stelgenhof you have this in mind or maybe already fixed? Thank you.

[2021-10-03 14:22] stelgenhof commented on #260
@pete1019 I haven't looked into that yet but will do soon.

[2021-10-04 15:43] stelgenhof commented on #260
@pete1019 "Weltkindertag" is now added for Thüringen.

[2021-10-05 14:45] #252 closed

[2021-10-05 14:47] stelgenhof commented on #252
@pete1019 I went ahead and merging your PR. I am aware you may not have time yet to check everything, however if we find some issues we can always fix them at any time.

[2021-10-11 15:58] projct1 opened #262 "Feature getting year of animal"
Like this: https://github.com/porimol/chinese-zodiac/blob/master/ZodiacSign.php

[2021-10-25 00:22] #246 closed

[2021-10-30 21:11] pete1019 opened #263 ""Allerheiligen" no official holiday in NRW"
hi,

yasumi does not know that "Allerheiligen" is an official holiday in NRW and i think other Bundesländer, too.

Can you please check and fix?

Thanks a lot!

[2021-10-31 08:55] stelgenhof commented on #263
@pete1019 Thanks for letting me know. I will have a look in the next few days.

[2021-11-01 14:16] stelgenhof commented on #263
@pete1019 I've reviewed and applied a fix for all 5 Bundesländer that are officially celebrating it.

[2021-11-01 14:30] #260 closed

[2021-12-22 08:03] realtebo opened #265 "[Doc / Help] How can we exclude 25 and 26 of december from holidays?"
I am using your excellent package to exclude holidays when users do orders on a store and choose delivery date.

This year we _must allow_ 25 and 26 december, so we need to filter out these days when checking

                    $holidays_in_this_day = $holidays->between(
                        $slot_period->toDate(),
                        $slot_period->toDate()
                    );

We woul

[2021-12-22 08:28] realtebo commented on #265
I created a custom provider extending Italy

And did this

    /**
     * Initialize holidays for the NYSE.
     * @throws  \Exception
     */
    public function initialize(): void
    {
        parent::initialize();

        // Remove Columbus Day and Veterans Day
        $this->removeHoliday('christmasDay');
        $this->removeHoliday('stStephensDay');
    }

But this year `stStephensDay` is

[2021-12-22 12:31] stelgenhof commented on #265
@realtebo Thank you for your question! Creating a custom provider is a good option indeed. Alternatively, you can also try  creating your own filter where your filter out the unwanted holidays. (https://www.yasumi.dev/docs/cookbook/filters/).

If you use `$this->removeHoliday('stStephensDay')` does it not do what you need? Looks to me your provider is exactly removing the 25th and the 26th. Or do

[2021-12-22 17:16] kennydude opened #266 "Mothering Sunday in the UK"
Mothers Day or, the british term, Mothering Sunday is on a different day to the default - https://en.wikipedia.org/wiki/Mothering_Sunday

It would be great if this could be added

[2021-12-23 17:14] sylvaincombes opened #267 "Christmas day in Spain"
In Spain, when christmas is on a sunday (as it will be in 2022), the holiday will be on the monday 26/12, I will propose a PR to update this behaviour.

[2021-12-23 17:55] sylvaincombes opened #269 "Support php 8.1"
From what I have tested the tests doesn't pass with php 8.1 version, we should correct this

Here is log output :

[code]

[2021-12-23 18:05] sylvaincombes opened #270 "United Kingdom - 2022 spring bank holiday"
In 2022, as we will have the Platinum Jubilee in United Kingdom on the 2022-06-03, it changes the Spring Bank Holiday date to the 2022-06-02

I will try to submit a PR about this

[2021-12-24 12:29] stelgenhof commented on #269
@sylvaincombes Thanks for spotting this. From a first look, it is related to the summer/wintertime calculation. Seems some transitions are missing. I will investigate further.

[2021-12-24 12:36] stelgenhof commented on #269
Issue with PHP8.1: https://github.com/php/php-src/issues/7752

[2021-12-24 12:38] stelgenhof commented on #267
@sylvaincombes Is this because of a recent change in regulations or has this been incorrect in Yasumi all the time?

[2021-12-24 14:05] sylvaincombes commented on #267
After thinking a little more about it :

- It has been said to me by a native one as a general rule
- But searching online I didn't find precise clear confirmation of that rule
- I think maybe we should handle it better like some case where I saw keys like "substituteHoliday:christmasDay" and let Christmas on 25/12
- If we can have some help by spain natives it would be great

[2022-01-20 10:11] ChrisTitos commented on #248
Hey, any idea when version 2.5 will be released? We also need Turkey. (for now I just copied the class into my code so I at least have something)
Thanks.

[2022-01-20 15:01] stelgenhof commented on #248
@ChrisTitos Working on the documentation at the moment. Hopefully release will be done by the end of next week.

[2022-01-23 07:38] stelgenhof commented on #266
Hi @kennydude I've added Mothering Sunday for the United Kingdom. You can check/verify the changes in this branch: https://github.com/azuyalabs/yasumi/tree/feature/mothering-sunday

I am targeting this to include it in release 2.5.0 which I plan to release next week. Let me know if something is incorrect or missing.

Cheers!

[2022-01-27 00:23] #262 closed

[2022-01-30 07:10] stelgenhof commented on #266
Feature completed. Work merged into the `develop` branch.

[2022-01-30 07:10] #266 closed

[2022-01-30 09:14] stelgenhof commented on #270
Closing. Resolved in v2.5

[2022-01-30 09:14] #270 closed

[2022-01-30 12:52] stelgenhof opened #275 "Documentation site build fails due to missing tests folder"
The `tests` folder is excluded from an export, causing the documentation CI/CD workflow to halt. The documentation site is doing some analysis on the tests folder and thus needs it.

[2022-01-31 13:48] MatthiasKuehneEllerhold opened #276 "Certain holidays functions are now private"
We're using your library in order to calculate the amount of working days from now to a specific date in the future.

For this we need a relativly accurate decision if a day is a working day or not. The `Germany`-Provider does this pretty good, but we have a company policy that certains days (christmas eve and new years eve) are a holiday too.
So Ive used your `Germany`-Provider and manually added

[2022-02-02 11:58] stelgenhof commented on #276
@MatthiasKuehneEllerhold Thank you very much for this issue. The reason for the reduced visibility is that these methods shouldn't have been exposed in the first place as these are internal methods.

The correct way is indeed extending the provider class as shown in this example: https://www.yasumi.dev/docs/cookbook/custom_provider/

For that, these method should indeed be `protected` and not `pri

[2022-02-02 18:12] iquito opened #278 "Missing holiday methods in ProviderInterface"
In v2.5 `Yasumi::create` now returns an instance of `ProviderInterface`, but this interface is missing most methods needed to actually do anything with holidays:

- No `isHoliday` method
- No `getHolidayDates` method (that is the one that my code is using)
- No `between` method
- No `getHolidayNames` method
- No `whenIs` method

These would seem like the necessary methods to get a list of holidays

[2022-02-02 23:44] stelgenhof commented on #278
@iquito Thank you very much for your issue. Some other users have already reported the same and I am working on a fix for this.

[2022-02-03 08:16] iquito commented on #278
Thanks for your effort! I didn't see an issue for this yet, and v2.5 just came out, so I thought I would mention it in case this wasn't known yet :-)

[2022-02-03 10:33] stelgenhof commented on #278
Sorry, indeed not, however a PR was created that fixed one of the missing methods you mentioned. In the meantime I started working on a fix in a different branch. (https://github.com/azuyalabs/yasumi/tree/tests-fixes)

[2022-02-03 10:48] iquito commented on #278
It could make sense to use two interfaces - a "user-facing" one that implements the methods to check for holidays, dates, etc. (representing a very stable set of methods that almost never need to change), and a "provider-facing" one that implements methods like "initialize" or "getHoliday", which might be important for the provider to work but seem less useful for somebody just using the library.

[2022-02-03 12:15] stelgenhof commented on #278
The AbstractProvider class is kind of a messy class, I admit. These two interface could certainly be identified.

[2022-02-03 13:31] dereuromark commented on #278
Our PHPStan CI also reports now errors:
[code]

We will pin down back to 2.4 then for now.

[2022-02-03 14:16] stelgenhof commented on #278
@iquito All methods have been created with the intent to be public. I don't see any specific reason to make some of them protected/private. With that background, the `ProviderInterface` should have had all those methods defined, which unfortunately was not the case with the 2.5 release.

BTW, I've made fixes in the `develop` branch, so if you're interested you may want to test with that branch.

[2022-02-03 14:29] iquito commented on #278
I mention it more because I don't know the exact motivations behind the methods, so I don't want to presume, and sometimes some methods exist but are more internal or legacy. The interface looks fine to me in the `develop` branch, although I would hide the `initialize`-method for the user (or you could mark it as `@internal` for now, so nobody calls it explicitly in their code), while all the othe

[2022-02-03 14:31] stelgenhof commented on #278
Thanks for checking the fixes. Good idea to mark the `initialize` method to `@internal`.

[2022-02-04 08:47] MatthiasKuehneEllerhold commented on #276
So one of the question my app has to answer is "When is holiday XY?" In <2.5 I could use these method like `christmasEve()` for certain holidays. For other holidays I had to know the magic number (well string key) of it to use `getHoliday()` or `whenIs()`.

I'd like to propose that these magic number (string keys) are moved to public constants in their classes so we can query the provider with som

[2022-02-04 13:24] stelgenhof commented on #278
@iquito The `develop` branch contains all recent bugfixes. You may want to check it out in your project if you like. I am preparing a new release soon addressing the latest identified issues.

[2022-02-04 13:24] stelgenhof commented on #276
@MatthiasKuehneEllerhold  The `develop` branch contains all recent bugfixes. You may want to check it out in your project if you like. I am preparing a new release soon addressing the latest identified issues.

[2022-02-04 13:33] dereuromark commented on #278
I can report that PHPStan now is green again with develop branch :)

[2022-02-04 13:35] dereuromark commented on #278
I would recommend to update `"phpstan/phpstan": "^0.12",` to "^1.2" now
Also level 7+ is recommended to have a good check for your API, 8 is nullable safety and nice to have, but 7 will help a lot with interface contracts and types as well.

[2022-02-04 13:37] stelgenhof commented on #278
@dereuromark Thanks! I had some issues with phpstan 1.2 before and had to revert to 0.12. I'll check that. Also checking for level 7 as well :)

[2022-02-04 13:43] dereuromark commented on #278
What kind of issues? Maybe I have an idea. Had to fix myself hundreds of repos here :)

[2022-02-04 13:50] stelgenhof commented on #278
I don't recall specifically but got many false negatives. Anyway, upgraded to 1.4 and all seem good :)

[2022-02-13 12:09] Jimbob001 commented on #266
@stelgenhof Hi there, was about to write a separate issue when I saw this.

Mothering Sunday isn't classed as a "public holiday", albeit it being a null point given it's always on a Sunday! However, it looks odd appear in the standard holiday list with bank holidays etc.

I know better classification is in the works, to split out these sorts of days, but I wonder whether it's worth having in the s

[2022-02-13 12:49] Jimbob001 commented on #266
@stelgenhof thank you for the response. I was using the standard unfiltered list. Setting to official holidays only gives me two results!

What I've done is manually filtered out the "other" type to remove this and potentially other additions. This matches up with what most people would expect in terms of whether this day counts towards holiday entitlement (which is my use case in a nutshell).

Ma

[2022-02-13 13:00] stelgenhof commented on #266
@Jimbob001 I checked myself and indeed it only results in two holidays. This is due the nature of the Filter classes in that they exclusive filter for that particular category.

For your use case, these filters may not give the results you need. Manually filtering out the 'other' holidays is then certainly a solution :) Or you could create your own filter doing all of that.

Cheers! Sacha

[2022-03-15 09:48] Stollie commented on #278
The dev-develop branch fixes my phpstan errors as well.

[2022-03-23 06:54] #265 closed

[2022-05-07 06:41] stelgenhof commented on #269
Based on the comments of the issue (https://github.com/php/php-src/issues/7752) this issue has been fixed and looks to be set to be included in PHP 8.1.6

[2022-06-03 15:30] kl3sk opened #281 "pentecost Monday France"
Hello,

As I know since [2004](https://fr.wikipedia.org/wiki/Journ%C3%A9e_de_solidarit%C3%A9_envers_les_personnes_%C3%A2g%C3%A9es_et_handicap%C3%A9es) this not a holiday anymore.

This day should not be count as one or may be optional.

[2022-06-05 07:03] stelgenhof commented on #281
Hi @kl3sk Thank you very much for noting this. I will make a correction accordingly.

[2022-06-05 07:18] stelgenhof commented on #269
Tested it locally with 8.1.6 and the tests run correctly.

[code]

[code]

@sylvaincombes Could you try with the updated `8.1.6` version as well and let me know if the tests run successfully? Thanks!

[2022-06-06 12:21] sylvaincombes commented on #269
Hello @stelgenhof I tested it locally with php 8.1.6 branch master and develop, all is green

[2022-06-06 12:26] stelgenhof commented on #269
@sylvaincombes Thanks for verifying! I'll close this issue and mention that only PHP >= 8.1.6 is supported.

[2022-06-06 12:26] #269 closed

[2022-06-14 12:23] stelgenhof commented on #281
Hi @kl3sk I've made a fix for this, which you can find in this branch: https://github.com/azuyalabs/yasumi/tree/pentecost-monday-france.

[2022-07-28 13:37] oranges13 opened #283 "Ability to add custom holidays that may differ from year to year"
Hi there! This is a very useful tool and I would like to implement it on a project for my work. Our office has a few "extra" holidays for professional development during the year and currently we create these as entries in a database table every year (along with all the other holidays too, but I'm hoping we can replace that with this project).

My question is, the example for the NYSE adding goodF

[2022-08-10 22:50] bkintanar opened #284 "Unable to find holiday provider "Cyprus""
Missing holiday for Cyprus. Here are the list https://www.officeholidays.com/countries/cyprus/2022

[2022-08-11 05:49] stelgenhof commented on #283
Hi! My apologies for the late response as I have been occupied with some other projects lately.

If you create your own custom Holiday Provider class, you can add non existing holidays as easy as removing them :) Instead of add an existing holiday like Good Friday, add a method in your custom holiday class that adds the new, custom holiday. That's it!

Cheers! Sacha

[2022-08-11 05:51] stelgenhof commented on #284
Thank you very much for your question and PR to add Cyprus to the list! Very much appreciated.

[2022-08-11 05:53] bkintanar commented on #284
No worries. I will add more test cases maybe later but wanted you to take a look into the PR since it's my first PR and I wanted to see if I'm doing it correctly.

[2022-09-05 14:57] stelgenhof commented on #281
Hi @kl3sk Can you let me know if the fix I made addresses your issue? Thanks!

[2022-09-07 02:41] stelgenhof commented on #281
Fixes merged to the `develop` branch.

[2022-09-07 02:41] #281 closed

[2022-09-07 09:33] kl3sk commented on #281
Hello @stelgenhof,

Thank you for the update.

I did yet found time to test. I'll come back when I can test it on my project.

[2022-09-22 14:41] jbezdekk opened #289 "cant create provider instance for Czechia"
Hi,

I am trying create provider instance for Czechia but after executing my code I just get error "Unable to find holiday provider "Czechia"". According to your docs Czechia should be valid create function argument.

Thanks.

[2022-09-22 14:46] stelgenhof commented on #289
Hi @jbezdekk Thank you for spotting this! The real provider name is `CzechRepublic`, so you may want to use that. The documentation is then not correct, and I will correct that.

[2022-09-23 00:54] #267 closed

[2022-10-16 05:32] mocchii2 opened #290 "Japanese 2020 Marine Day(海の日）"
In the Japanese calendar for 2020, Marine Day is currently set to July 20, but this year the Olympics were scheduled to be held, so the date was changed, and July 23 is the correct date for this year only.

[2022-10-17 08:19] sylvaincombes opened #291 "New release"
Hello and many thanks for your hard work, can we expect some tagged release, as the latest is 2.5.0 and was released on 30 January 2022 ?

Thank you

[2022-10-19 13:18] stelgenhof commented on #290
Thank you for this. I will have a look. If you like to create a PR for this  that would even greater :)

[2022-10-19 13:19] stelgenhof commented on #291
Hi @sylvaincombes Definitely! I am trying to collect a good number of changes and fixes for a next release. Some provided changes are taking a bit longer than expected. But for sure will make a release soon.
Thanks for the reminder!

[2022-10-24 13:24] kl3sk commented on #281
Hello @stelgenhof  sorry for the late time.

I tried with `@dev-develop` and found that `return false` for `$yasumi->isHoliday(new \DateTime('2022-06-05'))` that is the intended behaviour.

But ! It look likes `@master` (eg: `v2.5.0`) returns the same.

[2022-11-20 00:45] #275 closed

[2022-11-30 15:45] vedagel opened #294 "False holiday in Germany 31.12."
Dear contributors,

thank you very much for the very nice project!

We noticed that 31.12.YYYY is classified as a holiday in Germany, although it is actually not. How can this be fixed?

Thanks